{% extends "base.html" %}
{% block title %} List Templates | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        {% include '_include/html/header.html' with item='Template' create_item_url='/templates/new' create_item_button_text='Create Template' active_icon='fa fa-file-text' active_text='Template' %}
        {% include "_include/html/messages.html" %}
        {% include '_include/html/list.html' with table=table list_icon='fa fa-file-text' list_text='All Templates' create_item_url='/templates/new' create_item_text='Add a template' %}
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/deleteItems.html' with item='template' items='template/s' ajax_function='ajaxDeleteTemplate' %}
{% endblock %}