<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}PTART{% endblock %}</title>

    <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/png" />

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/plugins/font-awesome/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel=" stylesheet">
    <link href="/static/css/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel=" stylesheet">
    <link href="/static/css/plugins/fancybox/jquery.fancybox.min.css" rel=" stylesheet">
    <link href="/static/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="/static/css/plugins/simplemde/simplemde.min.css" rel="stylesheet">
    <link href="/static/css/customs/badges.css" rel="stylesheet" type="text/css">
    <link href="/static/css/customs/comments.css" rel="stylesheet" type="text/css">
    <link href="/static/css/customs/hover.css" rel="stylesheet" type="text/css">
    <link href="/static/css/customs/screenshots.css" rel="stylesheet" type="text/css">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

        <a class="navbar-brand" href="/">
            <img src="/static/img/logo_banner.png" height="25" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown {% if '/project' in request.path %}active{% endif %}">
                    <a class="nav-link dropdown-toggle"  href="#" id="navbarProjectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cubes"></i> Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarProjectDropdown">
                        <a class="dropdown-item" href="/projects/">All</a>
                        <div class="dropdown-divider"></div>
                        {% for project in menu_projects %}
                            <a class="dropdown-item" href="/project/{{ project.id }}/summary">{{ project.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                
                <li class="nav-item {% if '/todo' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/todo"><i class="fa fa-list-ul"></i > My ToDo</a>
                </li>
                
                <li class="nav-item {% if '/hit' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/hits"><i class="fa fa-bullseye"></i> Hits</a>
                </li>

                <li class="nav-item {% if '/archives' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/archives"><i class="fa fa-university"></i> Archives</a>
                </li>

                <li class="nav-item {% if '/templates' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/templates"><i class="fa fa-file-code"></i> Templates</a>
                </li>

                {% if user.is_staff %}
                <li class="nav-item {% if '/token' in request.path %}active{% endif %}">
                    <a class="nav-link" href="/token"><i class="fa fa-user"></i> Token</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cogs"></i> Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/">Users</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/labels/">Labels</a>
                        <a class="dropdown-item" href="/tools/">Tools</a>
                        <a class="dropdown-item" href="/methodologies/">Methodologies</a>
                        <a class="dropdown-item" href="/modules/">Modules</a>
                        <a class="dropdown-item" href="/cases/">Cases</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/account/password/"></i> Change Password</a>
                        <a class="dropdown-item" href="/token"></i> Token</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            {% load getsetting %}
            {% if "CHATGPT_API_KEY"|getsetting != "" and "CHATGPT_API_KEY"|getsetting != "NotConfigured"  %}
                <a href="#chatgptModal" class="btn btn-outline-light" data-backdrop="false" data-toggle="modal">Chat GPT</a>&nbsp;&nbsp;
            {% endif %}
            <a href="/accounts/logout/" class="btn btn-outline-success"><i class="fa fa-power-off"></i> Log Out</a>
        </div>
    </nav>

    {% include "_include/html/chatgpt.html" %}
    {% block page %}{% endblock %}

    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins/bootbox/bootbox.all.min.js"></script>
    <script src="/static/js/plugins/bootstrap-waitingfor/bootstrap-waitingfor.min.js"></script>
    <script src="/static/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="/static/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/plugins/cookie/jquery.cookie.js"></script>
    <script src="/static/js/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="/static/js/plugins/marked/marked.min.js"></script>
    <script src="/static/js/plugins/select2/select2.full.min.js"></script>
    <script src="/static/js/plugins/simplemde/simplemde.min.js"></script>
    <script src="/static/js/customs/attachments.js"></script>
    <script src="/static/js/customs/chatgpt.js"></script>
    <script src="/static/js/customs/common.js"></script>
    <script src="/static/js/customs/common-ajax.js"></script>
    <script src="/static/js/customs/cvss.js"></script>
    <script src="/static/js/customs/markdown.js"></script>
    <script src="/static/js/customs/messages.js"></script>
    <script src="/static/js/customs/screenshots.js"></script>
    {% block extra_foot %}{% endblock %}
</body>

</html>