{% extends "base.html" %}

{% block title %} Dashboard | PTART{% endblock %}

{% block page %}
<main role="main" class="container">

    <!-- Main message -->
    <div class="pricing-header px-3 py-3 pt-md-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4">PTART</h1>
        <p class="lead">A Testing Environment for Manual Security Testers</p>
    </div>
    <!-- End of Main message -->

    <!-- Main stats -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card-deck text-center">

                    <!-- Projects -->
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src="/static/img/project.jpg"/>
                        <div class="card-body">
                            <h4 class="card-title">{{ projects_count }} Projects</h4>
                            <a href="/projects" class="btn btn-lg btn-block btn-outline-primary">View</a>
                        </div>
                    </div>

                    <!-- Assessments -->
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src="/static/img/assessment.jpg"/>
                        <div class="card-body">
                            <h4 class="card-title">{{ assessments_count }} Assessments</h4>
                            <a href="/assessments" class="btn btn-lg btn-block btn-outline-warning">View</a>
                        </div>
                    </div>

                    <!-- Hits -->
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src="/static/img/hit.jpg"/>
                        <div class="card-body">
                            <h4 class="card-title">{{ hits_count }} Hits</h4>
                            <a href="/hits" class="btn btn-lg btn-block btn-outline-danger">View</a>
                        </div>
                    </div>

                    <!-- Flags -->
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src="/static/img/flag.jpg"/>
                        <div class="card-body">
                            <h4 class="card-title">{{ open_flags_count }} Open Flags!</h4>
                            <a href="/flags" class="btn btn-lg btn-block btn-outline-success">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main stats -->

    <!-- Recent projects -->
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                {% if recent_projects %}
                    <div class="card mb-4">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><h5>Recent Projects</h5></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p1">P1</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p2">P2</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p3">P3</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p4">P4</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p5">P5</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in recent_projects %}
                                        <tr>
                                            <td><a href="/project/{{ project.id }}/summary">{{ project.name }}</a></td>
                                            <td>{{project.p1_hits|length}}</td>
                                            <td>{{project.p2_hits|length}}</td>
                                            <td>{{project.p3_hits|length}}</td>
                                            <td>{{project.p4_hits|length}}</td>
                                            <td>{{project.p5_hits|length}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right mr-3 mb-2">
                            <a href="/projects" class="btn btn-outline-primary"><i class="fa fa-cubes"></i> View All</a>
                        </div>
                    </div>
                {% else %}
                    <a href="/projects/new/" class="btn btn-lg btn-block btn-outline-primary"><h4><i class="fa fa-cubes"></i> Create a new project</h4></a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End of Recent projects -->

    <div class="container">
        <div class="row">
            <!-- Recent hits -->
            <div class="col-lg-6 col-sm-12 mb-4">
                {% if recent_hits %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><h5>Recent Hits</h5></th>
                                        <th>Sev</th>
                                        <th>CVSSv3.1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hit in recent_hits %}
                                        <tr>
                                            <td><a href="/hit/{{ hit.id }}/">{{ hit.title }}</a></td>
                                            <td><span class="bc-badge bc-badge--p{{ hit.severity }}">P{{ hit.severity }}</span></td>
                                            <td><span class="cvss cvss-badge cvss-badge-secondary">{{ hit.get_cvss_value }}</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right mr-3 mb-2">
                            <a href="/hits" class="btn btn-outline-danger"><i class="fa fa-bullseye"></i> View All</a>
                        </div>
                    </div>
                {% else %}
                    <a href="/hits/new/" class="btn btn-lg btn-block btn-outline-danger"><h4><i class="fa fa-bullseye"></i> Hit one!</h4></a>
                {% endif %}
            </div>
            <!-- End of Recent hits -->

            <!-- Recent flags -->
            <div class="col-lg-6 col-sm-12 mb-4">
                {% if recent_open_flags %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><h5>Recent Open Flags</h5></th>
                                        <th>Project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for flag in recent_open_flags %}
                                        <tr>
                                            <td><a href="/flag/{{ flag.id }}/">{{ flag.title }}</a></td>
                                            <td><a href="/project/{{ flag.assessment.project.id}}/summary">{{ flag.assessment.project.name }}<a></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right mr-3 mb-2">
                            <a href="/hits" class="btn btn-outline-success"><i class="fa fa-list-ul"></i> View All</a>
                        </div>
                    </div>
                {% else %}
                    <a href="/flags/new/" class="btn btn-lg btn-block btn-outline-success"><h4><i class="far fa-flag"></i> Create a new Flag!</h4></a>
                {% endif %}
            </div>
            <!-- End of Recent flags -->
        </div>
    </div>
</main>
{% endblock %}