<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="inline">CVSS v3.0 : <span id="cvssValue" class="label label-default">No Rating (---)</span>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div>Attack Vector:</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-info btn-xs" id="vectorPhysical"><input type="radio" />Physical</label>
                        <label class="btn btn-primary btn-xs" id="vectorLocal"><input type="radio" />Local</label>
                        <label class="btn btn-warning btn-xs" id="vectorAdjacent"><input type="radio" />Adjacent</label>
                        <label class="btn btn-danger btn-xs" id="vectorNetwork"><input type="radio" />Network</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Attack Complexity:</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-danger btn-xs" id="complexityLow"><input type="radio" />Low</label>
                        <label class="btn btn-warning btn-xs" id="complexityHigh"><input type="radio" />High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Privileges Required</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-danger btn-xs" id="privilegesNone"><input type="radio" />None</label>
                        <label class="btn btn-warning btn-xs" id="privilegesLow"><input type="radio" />Low</label>
                        <label class="btn btn-primary btn-xs" id="privilegesHigh"><input type="radio" />High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>User Interaction</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-danger btn-xs" id="userInteractionNone"><input type="radio" />None</label>
                        <label class="btn btn-warning btn-xs" id="userInteractionRequired"><input type="radio"><input
                                type="radio" />Required</label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <div>Scope</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-warning btn-xs" id="scopeUnchanged"><input
                                type="radio" />Unchanged</label>
                        <label class="btn btn-danger btn-xs" id="scopeChanged"><input type="radio" />Changed</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Confidentiality</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-info btn-xs" id="confidentialityNone"><input type="radio" />None</label>
                        <label class="btn btn-warning btn-xs" id="confidentialityLow"><input type="radio" />Low</label>
                        <label class="btn btn-danger btn-xs" id="confidentialityHigh"><input type="radio" />High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Integrity</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-info btn-xs" id="integrityNone"><input type="radio" />None</label>
                        <label class="btn btn-warning btn-xs" id="integrityLow"><input type="radio" />Low</label>
                        <label class="btn btn-danger btn-xs" id="integrityHigh"><input type="radio" />High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Availability</div>
                    <div class="btn-group cvss-input" data-toggle="buttons">
                        <label class="btn btn-info btn-xs" id="availabilityNone"><input type="radio" />None</label>
                        <label class="btn btn-warning btn-xs" id="availabilityLow"><input type="radio" />Low</label>
                        <label class="btn btn-danger btn-xs" id="availabilityHigh"><input type="radio" />High</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>