{% extends "base.html" %}
{% load addstr %}

{% block title %} Attack Scenario | PTART{% endblock %}

{% block extra_head %}
    <link href="/static/css/customs/deciduous.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='Attack Scenario' sub_icon='fa fa-cubes' sub_url="/project/"|addstr:attackscenario.project.pk|addstr:"/summary" sub_text=attackscenario.project.name third_icon='fa fa-book' third_url='#' third_text='Attack Scenario' active_icon='' active_text=attackscenario.name %}
        {% include "_include/html/messages.html" %}

        <!-- Attack Scenario creation form -->
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" autocomplete="off" value="{{ attackscenario.name }}" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" rows="10" id="body" style="resize:vertical">{{ attackscenario.body }}</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- BEGIN OF DECIDIOUS BLOCK -->
            <div id="leftPane" class="col-lg-5">
                <textarea id="inputSource" spellcheck="false">{{ attackscenario.scenario }}</textarea>
                <pre id="highlighting" aria-hidden="true"><code id="inputHighlighted"></code></pre>
            </div>
            <div class="col-lg-7" id="rightPane">
                <div class="right-header">
                    <div class="downloadWrapper">
                        <a id="downloadLink" download="decision-tree.dot">Download .dot</a>
                        <a id="downloadSvgLink" download="decision-tree.svg">Download .svg</a>
                    </div>
                </div>
                <div id="errorTarget">JavaScript is required</div>
                <div id="renderTarget"></div>
                <p class="copyright">&copy; Copyright 2022 Ryan Petrich & Kelly Shortridge (Team Bad, LLC)</p>
            </div>
            <div id="dragger"></div>
            <!-- END OF DECIDIOUS BLOCK -->
        </div>

        <input type="hidden" value="{{ attackscenario.id }}" id="id"/>
        <input type="hidden" value="{{ attackscenario.project.id }}" id="projectId"/>

        <div class="row">
            <div class="col-lg-12 mb-5">
                <button id="updateBtn" class="btn btn-primary">Update</button>
                <button id="delBtn" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
{% include '_include/js/deleteItem.html' with item='Attack Scenario' ajax_function='ajaxDeleteAttackScenario' %}

<script src="/static/js/plugins/hpcc/index.min.js"></script>
<script src="/static/js/plugins/js-yaml/js-yaml.min.js"></script>
<script src="/static/js/customs/deciduous.js"></script>

<script type="text/javascript">

    activeMarkdown("body");

    /**
     * Item updation success callback.
     */
    function itemUpdationSuccess(data) {
        success($("#messages"), "Attack Scenario was Updated!");
    }

    /**
     * Update item.
     */
    $('#updateBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateAttackScenario(itemUpdationSuccess, commonFailure, $("#id").val(), $("#name").val(), $("#inputSource").val(), document.getElementById('renderTarget').innerHTML, $("#body").val(), $("#projectId").val());
    });

</script>

{% endblock %}
