{% extends "base.html" %}
{% block title %} List Cases | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        {% include '_include/html/header.html' with item='Cases' create_item_url='/cases/new' create_item_button_text='Create Case' create_item_button_class='primary' active_icon='fa fa-file-text' active_text='Cases' %}
        {% include "_include/html/messages.html" %}
        {% include '_include/html/list.html' with table=table %}
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/deleteItems.html' with item='case' items='case/s' ajax_function='ajaxDeleteCase' %}
{% endblock %}