{% extends "base.html" %}

{% block title %} Methodology Master | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Methodology Master</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
                    <li><i class="fa fa-file-text"></i>
                        <a href="/app/methodologies/">Methodology Master</a></li>
                    <li class="active">{{ methodology.name }} <span id="response" class="small"></span></li>
                </ol>
            </div>
        </div>

        {% include "_include/messages-container.html" %}

        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" value="{{ methodology.name }}"
                        autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="10" id="description">{{ methodology.description}}</textarea>
                </div>

                <input type="hidden" value="{{ methodology.id }}" id="id" />
                <button id="updateBtn" class="btn btn-primary">Update</button>
                <button id="delBtn" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">

    /**
     * Methodology updation success callback.
     */
    function methodologyUpdationSuccess(data) {
        success($("#messages"), "Methodology was Updated!");
    }

    /**
     * Methodology updation failure callback.
     */
    function methodologyUpdationFailure(data) {
        errorList($("#messages"), data.responseJSON);
    }

    /**
     * Update methodology.
     */
    $('#updateBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateMethodology(methodologyUpdationSuccess, methodologyUpdationFailure, $("#id").val(), $("#name").val(), $("#description").val());
    });

    /**
     * Methodology deletion success callback.
     */
    function methodologyDeletionSuccess(data) {
        success($("#messages"), "Methodology was deleted! You will redirect in 2s!");
        setTimeout(function () {
            window.location.href = "/";
        }, 2000);
    }

    /**
     * Methodology deletion failure callback.
     */
    function methodologyDeletionFailure(data) {
        error($("#messages"), "Methodology was not found");
    }

    /**
     * Delete methodology.
     */
    $('#delBtn').on('click', function () {
        bootbox.confirm({
            message: "Are you sure to delete the methodology?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    cleanMessagesContainer($("#messages"));
                    ajaxDeleteMethodology(methodologyDeletionSuccess, methodologyDeletionFailure, $("#id").val());
                }
            }
        });
    });
</script>
{% endblock %}