{% extends "base.html" %}
{% block title %} Methodology | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Methodologies</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
                    <li class="active"><i class="fa fa-file-text"></i> Methodology</li>
                </ol>
            </div>
        </div>

        {% include "_include/messages-container.html" %}

        <!-- Methodology creation form -->
        <div class="row">
            <div class="col-lg-12">
                <h3>New Methodology</h3>
                <div class="form-group">
                    <label>Name</label>
                    <input id="name" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea id="description" class="form-control" rows="10" ></textarea>
                </div>
                <button id="createBtn" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">

    /**
     * Methodology creation success callback.
     */
     function methodologyCreationSuccess(data) {
        $("#name").val("");
        $("#description").val("");
        success($("#messages"), "Methodology was created!");
    }

    /**
     * Create methodology.
     */
    $('#createBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxCreateMethodology(methodologyCreationSuccess, commonFailure, $("#name").val(), $("#description").val());
    });
</script>
{% endblock %}