{% extends "base.html" %}
{% block title %} CWE List | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        {% include '_include/html/header.html' with item='CWEs' active_icon='fa fa-sticky-note' active_text='CWEs' %}
        {% include "_include/html/messages.html" %}
        {% include '_include/html/list.html' with table=table %}
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/deleteItems.html' with item='CWEs' items='cwes' ajax_function='ajaxDeleteCWEs' %}
{% endblock %}