{% extends "base.html" %}
{% block title %} Case | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Case</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
                    <li class="active"><i class="fa fa-file-text"></i> Case</li>
                </ol>
            </div>
        </div>

        {% include "_include/html/messages.html" %}

        <!-- Case creation form -->
        <div class="row">
            <div class="col-lg-12">
                <h3>New Case</h3>
                {% if not modules %}
                    <b>No Modules found. A Case will belong to a Module. So, <a href="/app/modules/">Create a Module</a> before creating a Case</b>
                {% else %}
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" id="name" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="10" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Module</label>
                        <select id="module" class="form-control">
                            {% for module in modules %}
                            <option value="{{ module.id }}">{{ module.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button id="createBtn" type="submit" class="btn btn-primary">Submit</button>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">

    /**
     * Case creation success callback.
     */
     function caseCreationSuccess(data) {
        $("#name").val("");
        $("#description").val("");
        success($("#messages"), "Case was created!");
    }

    /**
     * Create case.
     */
    $('#createBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxCreateCase(caseCreationSuccess, commonFailure, $("#name").val(), $("#description").val(), $("#module").val());
    });
</script>
{% endblock %}