{% extends "base.html" %}
{% block title %} List Cases | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        {% include '_include/html/header.html' with item='Case' create_item_url='/app/cases/new' create_item_button_text='Create Case' active_icon='fa fa-file-text' active_text='Case' %}
        {% include "_include/html/messages.html" %}
        {% include '_include/html/list.html' with table=table list_icon='fa fa-file-text' list_text='All Cases' create_item_url='/app/cases/new' create_item_text='Add a case' %}
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/deleteItem.html' with item='case' items='case/s' ajax_function='ajaxDeleteCase' %}
{% endblock %}