<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if '/' == request.path %}class="active" {% endif %}>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li {% if '/app/project' in request.path %}class="active" {% endif %}>
            <a href="/app/projects"><i class="fa fa-fw fa-cubes"></i> Projects</a>
        </li>

        <li {% if '/app/flag' in request.path %}class="active" {% endif %}>
            <a href="/app/flags"><i class="fa fa-fw fa-list-ul"></i > My ToDo</a>
        </li>
        
        <li {% if '/app/sh0t' in request.path %}class="active" {% endif %}>
            <a href="/app/sh0ts"><i class="fa fa-fw fa-bullseye"></i> Sh0ts</a>
        </li>
        
        <li {% if '/app/template' in request.path %}class="active" {% endif %}>
            <a href="#" data-toggle="collapse" data-target="#configurationMenu"><i class="fa fa-fw fa-gear"></i> Configuration <span id="configurationArrow"><i class="fa fa-fw fa-caret-down"></i></span></a>
            <ul id="configurationMenu" class="collapse">
                <li>
                    <a href="/app/templates/">Templates</a>
                </li>
                <li>
                    <a href="/app/methodologies/">Methodologies</a>
                </li>
                <li>
                    <a href="/app/modules/">Modules</a>
                </li>
                <li>
                    <a href="/app/cases/">Cases</a>
                </li>
            </ul>
        </li>
    </ul>
</div>