{% extends "base.html" %}
{% load addstr %}
{% block title %} Retest Campaign | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' sub_icon='fa fa-cubes' sub_url="/project/"|addstr:retestcampaign.project.pk|addstr:"/summary" sub_text=retestcampaign.project active_icon='' active_text=retestcampaign.name %}

        <!-- Page Heading -->
        <div class="row mb-4">
            <div class="col-lg-6">
                <h1 class="page-header">
                    {{ retestcampaign.name }}
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#detailsModal">Details</button>
                    {% if editable == True %}
                        <a class="btn btn-outline-primary pull-right" href="/retestcampaign/{{retestcampaign.id}}" role="button">Edit This Campaign</a>
                        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#updateHitsModal" style="margin-right: 10px;">Bulk Update Hit Status</button>
                    {% endif %}
                </h1>
            </div>
            <div class="col-lg-6">
                {% if retestcampaign.get_assigned_hits|length != 0 %}
                    <canvas height="200" id="myChart"></canvas>
                {% endif %}
            </div>
        </div>

        <!-- Details modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Introduction:</h4>
                        <div id="projectExecutiveSummary">{{ retestcampaign.introduction }}</div>
                        <h4>Conclusion:</h4>
                        <div id="projectConclusion">{{ retestcampaign.conclusion }}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update Hits modal -->
        <div class="modal fade" id="updateHitsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Bulk Update Hit Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="updateMessages" class="col-lg-12"></div>
                        </div>
                        <form id="updateHitsForm" >
                            <div class="form-group">
                                <label for="newStatus">Select Status:</label>
                                <select class="form-control" id="newStatus" name="newStatus" required>
                                    <option value="" disabled selected>Select status</option>
                                    <option value="NT">Not Tested</option>
                                    <option value="NA">N/A</option>
                                    <option value="NF">Not Fixed</option>
                                    <option value="PF">Partially Fixed</option>
                                    <option value="F">Fixed</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hitSelection">Select Hits to update &nbsp; <button id="selectAllHitBtn" class="btn btn-sm btn-outline-success" type="button">Select All</button></label>
                                <div id="hitSelection" style="height: 300px; overflow-y: scroll; border: 1px solid #ced4da; padding: 10px;">
                                    {% for retesthit in retestcampaign.get_retest_hits %}
                                    <div class="form-check">
                                        <input class="form-check-input retesthit" type="checkbox" value="" retesthit_id="{{ retesthit.id }}" hit_id="{{ retesthit.hit.id }}" campaign_id="{{ retestcampaign.id }}" id="unassigne_hit{{ retesthit.id }}">
                                        <label class="form-check-label" for="unassigne_hit{{ retesthit.id }}">
                                            <span class="retesthit-status-badge retesthit-status-badge-{{ retesthit.status }}">
                                                {{ retesthit.get_status_display }}
                                            </span>
                                            {{ retesthit.hit.get_unique_id }} - {{ retesthit.hit.title }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary" id="updateHitsBtn">Update Hits</button>
                    </div>
                </div>
            </div>
        </div>

        {% include "_include/html/messages.html" %}

        <!-- Campaign summary table-->
            <div class="row mb-4">
                <div class="col-lg-12">
                    {% if retestcampaign.get_assigned_hits|length == 0 %}
                        <b>The campaign is empty.</b>
                    {% else %}
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Severity</th>
                                    {% if retestcampaign.project.cvss_type == 3 %}
                                    <th>CVSSv3.1</th>
                                    {% else %}
                                    <th>CVSSv4.0</th>
                                    {% endif %}
                                    <th>Title</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for retesthit in retestcampaign.retesthit_set.all %}
                                    <tr>
                                        <td>
                                            <span class="bc-badge bc-badge--p{{ retesthit.hit.severity }}">
                                                P{{ retesthit.hit.severity }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="cvss{{retesthit.retest_campaign.project.cvss_type}} cvss{{retesthit.retest_campaign.project.cvss_type}}-badge cvss{{retesthit.retest_campaign.project.cvss_type}}-badge-secondary">
                                                {{ retesthit.hit.get_cvss_value }}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="/retesthit/{{ retesthit.id }}/">{{ retesthit.hit.title }}</a>
                                        </td>
                                        <td>
                                            <span class="retesthit-status-badge retesthit-status-badge-{{ retesthit.status }}">
                                                {{ retesthit.get_status_display }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
<script>
    {% if retestcampaign.get_assigned_hits|length != 0 %}
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Not Tested', 'N/A', 'Not Fixed', 'Partially Fixed', 'Fixed'],
                datasets: [{
                    data: [
                        {{retestcampaign.get_not_tested_hits|length}},
                        {{retestcampaign.get_not_applicable_hits|length}},
                        {{retestcampaign.get_not_fixed_hits|length}},
                        {{retestcampaign.get_partially_fixed_hits|length}},
                        {{retestcampaign.get_fixed_hits|length}}],
                    backgroundColor: [
                        'rgb(54, 162, 235)',
                        'rgb(224, 224, 224)',
                        'rgb(255, 51, 51)',
                        'rgb(255, 178, 102)',
                        'rgb(51, 255, 51)'
                    ]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });
    {% endif %}

    /**
     * Select all hits.
     */
    $('#selectAllHitBtn').on('click', function () {
        $('.retesthit').prop('checked', true);
    });

    /**
     * Update hit status in bulk.
     */
    $('#updateHitsBtn').on('click', function () {
        var newStatus = $('#newStatus').val();
        if (!newStatus) {
            error($("#updateMessages"), "Please select a new status.");
            return;
        }
        var hits = [];
        $('.retesthit:checked').each(function() {
            hits.push({
                retesthit: $(this).attr('retesthit_id'),
                hit: $(this).attr('hit_id'),
                retest_campaign: $(this).attr('campaign_id'),
            });
        });
        if (hits.length === 0) {
            error($("#updateMessages"), "Please select at least one hit.");
            return;
        }
        waitingDialog.show();
        setTimeout(bulkUpdateHits, 100, hits, newStatus);
    });

    function bulkUpdateHits(hits, newStatus) {
        var hitsProcessed = 0;
        var hitsToProcess = hits.length;

        function hitUpdateSuccess(data) {
            success($("#messages"), "Hit updated with success!");
            hitsProcessed++;
            if (hitsProcessed === hitsToProcess) {
                waitingDialog.hide();
                location.reload();
            }
        }
        function hitUpdateFailure(data) {
            error($("#messages"), "Hit was not updated!");
            hitsProcessed++;
            if (hitsProcessed === hitsToProcess) {
                waitingDialog.hide();
                location.reload();
            }
        }

        for (var i = 0; i < hits.length; i++) {
            ajaxUpdateRetestHitStatus(hitUpdateSuccess, hitUpdateFailure, hits[i], newStatus);
        }
    }

</script>
{% endblock %}
