<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if '/' == request.path %}class="active" {% endif %}>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li {% if '/project' in request.path %}class="active" {% endif %}>
            <a href="/projects"><i class="fa fa-fw fa-cubes"></i> Projects</a>
        </li>

        <li {% if '/todo' in request.path %}class="active" {% endif %}>
            <a href="/todo"><i class="fa fa-fw fa-list-ul"></i > My ToDo</a>
        </li>
        
        <li {% if '/sh0t' in request.path %}class="active" {% endif %}>
            <a href="/sh0ts"><i class="fa fa-fw fa-bullseye"></i> Sh0ts</a>
        </li>
        
        {% if user.is_staff %}
        <li {% if '/template' in request.path %}class="active" {% endif %}>
            <a href="#" data-toggle="collapse" data-target="#configurationMenu"><i class="fa fa-fw fa-gear"></i> Configuration <span id="configurationArrow"><i class="fa fa-fw fa-caret-down"></i></span></a>
            <ul id="configurationMenu" class="collapse">
                <li>
                    <a href="/labels/">Labels</a>
                </li>
                <li>
                    <a href="/templates/">Templates</a>
                </li>
                <li>
                    <a href="/methodologies/">Methodologies</a>
                </li>
                <li>
                    <a href="/modules/">Modules</a>
                </li>
                <li>
                    <a href="/cases/">Cases</a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
</div>