{% extends "base.html" %}
{% block title %} Assessments | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='New Assessment' active_icon='fa fa-cube' active_text='Assessments' %}
        {% include "_include/html/messages.html" %}
        
        <!-- Assessment creation form -->
        <div class="row">
            <div class="col-lg-12">
                {% if not projects %}
                    <b>No project found. <a href="/projects/new/">Create one</a></b>
                {% else %}
                    <div class="form-group">
                        <label>Name</label>
                        <input id="name" class="form-control" autocomplete="off" placeholder="Assessment name (ex: iOS App, Backend server, etc...)" />
                    </div>
                    <div class="form-group">
                        <label for="project">Project</label>
                        <select id="project" class="form-control">
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        {% if not methodologies %}
                        No methodology found. A suggestion to <a href="/methodologies/" target="_blank">
                            create one</a>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {% if methodologies %}
                            <b>Set up Flags from</b>
                            {% for methodology in methodologies %}
                                <div class="checkbox">
                                    <h5><label><input type="checkbox" class="methodology" value="{{ methodology.name.split|join:'_' }}" /><b>{{ methodology.name }}:</b></label></h5>
                                </div>
                                {% for module in methodology.module_set.all %}
                                    <div class="checkbox" style="right:-30px">
                                        <label><input type="checkbox" value="{{ module.id }}" class="module child-{{ methodology.name.split|join:'_'  }}"/>{{ module.name }}</label>
                                    </div>
                                 {% endfor %}
                                <br />
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button id="createBtn" type="submit" class="btn btn-outline-primary mb-3">Submit</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">

    var toCreate = 0;
    var created = 0;

    /* Select the project if params is given.*/
    var projectId = urlSearchParams("projectId");
    if(projectId){
        $("#project").val(projectId);
    }

    /**
     * Select all modules from methodology.
     */
    $('.methodology').on('change', function () {
        $('.child-' + $(this).val()).prop('checked', $(this).is(":checked"));
    });

    /**
     * Assessment creation success callback.
     */
    function assessmentCreationSuccess(data) {
        toCreate = $('.module:checked').length;
        if (toCreate > 0) {
            $('.module:checked').each(function () {
                ajaxLoadFlagsFromModule(checkFlagCreationBatchStatus, checkFlagCreationBatchStatus, $(this).val(), data.id);
            });
        } else {
            checkFlagCreationBatchStatus(null);
        }

    }

    /**
     * Assessment creation failure callback.
     */
     function assessmentCreationFailure(data) {
        if(data.status === 403){
            error($("#messages"), "Error 403 : Not Authorized");
        } else {
            errorList($("#messages"), data.responseJSON);
        }
        waitingDialog.hide();
    }

    /**
     * Check if all flags has been created.
     */
    function checkFlagCreationBatchStatus(data) {
        if (++created >= toCreate) {
            $("#name").val("");
            toCreate = 0;
            created = 0;
            waitingDialog.hide();
            success($("#messages"), "Assessment was created!");
        }
    }

    /**
     * Create assessment.
     */
    $('#createBtn').on('click', function () {
        waitingDialog.show();
        setTimeout(createAssessment,500);
    });

    function createAssessment(){
        cleanMessagesContainer($("#messages"));
        ajaxCreateAssessment(assessmentCreationSuccess, assessmentCreationFailure, $("#name").val(), $("#project").val());
    }
</script>
{% endblock %}