
Project Name         : {{ project.name }}
Project Start Date   : {{ project.start_date }} 
Project End Date     : {{ project.end_date }}
Project Added        : {{ project.added }}

{% for pentester in project.pentesters.all() %}
    {{ pentester.username }} - {{ pentester.first_name }} {{ pentester.last_name }}
{% endfor %}

------------------------------------------------------------------------------------------
Project Scope : 
{{ project.scope }}

------------------------------------------------------------------------------------------
Project Introduction : 
{{ project.introduction | mdtolatex }}

------------------------------------------------------------------------------------------
Project Conclusion : 
{{ project.conclusion | mdtolatex }}

------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------

{% for assessment in project.assessment_set.all() %}
    {% if assessment.displayable_hits %}
        {{ assessment.name }}
        
        ------------------------------------------------------------------------------------------
        {% for hit in assessment.displayable_hits() %}
            {{ hit.get_unique_id() }}
            P{{ hit.severity }} : {{ hit.title }}
            Asset : {{ hit.asset }}
            CVSS v3.1: {{ hit.get_cvss_value() }} ({{ hit.get_cvss_string() }})
            Fix complexity: {{ hit.fix_complexity }}
            Labels :
            {% for label in hit.labels.all() %}
                - {{ label.title }}</span>
            {% endfor %}
            Comments
            {% for comment in hit.comment_set.all() %}
                <p><b>{{comment.author.username}}</b> wrote on {{ comment.added }} : {{ comment.text}}</p>
            {% endfor %}
                   
            Body:
            {{ hit.body | mdtolatex }}
                    
            Screenshots:
            {% for screenshot in hit.screenshot_set.all() %}
                {{screenshot.pk}} : {{screenshot.caption}}
            {% endfor %}

            {% if hit.remediation %}
                {{ hit.remediation | mdtolatex }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}




{% if project.attackscenario_set.all() %}
    ------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------
    Attack Scenarios
    {% for attackscenario in project.attackscenario_set.all() %}
        {{ attackscenario.name }} : {{ attackscenario.id }}
    {% endfor %} 
{% endif %}