{% extends "base.html" %}

{% block title %} Project | PTART{% endblock %}

{% block extra_head %}
    <link href="/static/css/customs/deciduous.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row mb-4">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <div>
                        {% if project.archived == True %}
                            {{ project.name }}
                            <img src="/static/img/archived.png" width="60px" height="60px" alt="Archived" />
                            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#detailsModal">Details</button>
                            <a class="btn btn-outline-info" href="/project/{{project.id}}/assets" role="button">Asset Management</a>
                            {% if editable == False %}
                                <a class="btn btn-outline-primary pull-right" href="/project/{{project.id}}" role="button">View This Project</a>
                            {% else %}
                                <a class="btn btn-outline-primary pull-right" href="/project/{{project.id}}" role="button">Edit This Project</a>
                            {% endif %}
                        {% else %}
                            {% if editable == False %}
                                {{ project.name }}
                                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#detailsModal">Details</button>
                                <a class="btn btn-outline-info" href="/project/{{project.id}}/assets" role="button">Asset Management</a>
                                <a class="btn btn-outline-primary pull-right" href="/project/{{project.id}}" role="button">View This Project</a>
                            {% else %}
                                {% if project.assessment_set.all|length == 0 %}
                                    {{ project.name }}
                                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#detailsModal">Details</button>
                                    <a class="btn btn-outline-info" href="/project/{{project.id}}/assets" role="button">Asset Management</a>
                                    <a class="btn btn-outline-warning" href="/assessments/new?projectId={{project.id}}" role="button">Create Assessment</a>
                                    <a class="btn btn-outline-primary pull-right" href="/project/{{project.id}}" role="button">Edit This Project</a>
                                {% else %}
                                    <div style="position: absolute; top: 0; left: 10;">{{ project.name }}</div>
                                    <div class="text-center" style="position: relative; top: 0;">
                                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#detailsModal">Details</button>
                                        <a class="btn btn-outline-info" href="/project/{{project.id}}/assets" role="button">Asset Management</a>
                                        <a class="btn btn-outline-warning" href="/assessments/new?projectId={{project.id}}" role="button">Create Assessment</a>
                                        <a class="btn btn-outline-primary pull-right" href="/project/{{project.id}}" role="button">Edit This Project</a>
                                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#projectOverviewModal">Project overview</button>
                                        <br/>
                                        <a class="btn btn-outline-danger" href="/hits/new/?projectId={{project.id}}" role="button">Create Hit</a>
                                        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#updateHitsModal">Bulk Update Hit Status</button>
                                        <a class="btn btn-outline-success" href="/flags/new/?projectId={{project.id}}" role="button">Create Flag</a>
                                        <a class="btn btn-outline-danger" href="/attackscenario/new/?projectId={{project.id}}" role="button">Create Attack Scenario</a>
                                        <a class="btn btn-outline-success" href="/recommendation/new/?projectId={{project.id}}" role="button">Create Recommendation</a>
                                        <a class="btn btn-outline-primary" href="/retestcampaigns/new/?projectId={{project.id}}" role="button">Create Retest Campaign</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </h1>
            </div>
        </div>

        {% include "_include/html/messages.html" %}

        <!-- Details modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        {% if project.client %}
                            <h5 class="modal-title">Details (Client : {{ project.client }})</h5>
                        {% else %}
                            <h5 class="modal-title">Details</h5>
                        {% endif %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Scope: <a href="/api/project/{{project.id}}/burp" data-toggle="popover"
                                data-content="Download Burp configuration file"><img src="/static/img/burp.png"
                                    height="30px" width="30px" /></a></h4>
                        <div id="projectScope">
                            <ul>
                                {% for line in project.scope.splitlines %}
                                <li>{{ line }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h4>Executive Summary:</h4>
                        <div id="projectExecutiveSummary">{{ project.executive_summary }}</div>
                        <h4>Conclusion:</h4>
                        <div id="projectConclusion">{{ project.conclusion }}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update hits modal -->
        <div class="modal fade" id="updateHitsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Bulk Update Hits</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="updateMessages" class="col-lg-12"></div>
                        </div>
                        <form id="updateHitsForm" >
                            <div class="form-group">
                                <label for="newStatus">New Status</label>
                                <select class="form-control" id="newStatus" required>
                                    <option value="" disabled selected>Select new status</option>
                                    <option value="D">Draft</option>
                                    <option value="R">To Review</option>
                                    <option value="F">To Fix</option>
                                    <option value="V">Validated</option>
                                    <option value="H">Hidden</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hitSelection">Select Hits to update &nbsp; <button id="selectAllHitBtn" class="btn btn-sm btn-outline-success" type="button">Select All</button></label>
                                <div id="hitSelection" style="height: 300px; overflow-y: scroll; border: 1px solid #ced4da; padding: 10px;">
                                    {% for hit in project.hits %}
                                    <div class="form-check">
                                        <input class="form-check-input hit" type="checkbox" value="" hit_id="{{ hit.id }}" id="unassigne_hit{{ hit.id }}">
                                        <label class="form-check-label" for="unassigne_hit{{ hit.id }}">
                                            {% if hit.status == "D" %}
                                                <i class="fa fa-info-circle" style="color: blue;" data-toggle="tooltip" data-placement="left" title="Draft"></i>
                                            {% elif hit.status == "R" %}
                                                <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="To Review"></i>
                                            {% elif hit.status == "F" %}
                                                <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="To Fix"></i>
                                            {% elif hit.status == "V" %}
                                                <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Validated"></i>
                                            {% else %}
                                                <i class="fa fa-eye-slash" style="color: gray;" data-toggle="tooltip" data-placement="left" title="Hidden"></i>
                                            {% endif %}
                                            {{ hit.get_unique_id }} - {{ hit.title }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="updateHitStatusBtn" class="btn btn-outline-primary">Update Hits</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project overview modal -->
        <div class="modal fade" id="projectOverviewModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Project overview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <h3>{{ project.name }}</h3>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Scope</th>
                                        <th class="text-center">Engagement Overview</th>
                                        <th class="text-center">Executive Summary</th>
                                        <th class="text-center">Conclusion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <span class="">
                                            {% if project.scope and "TODO" not in project.scope %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% elif "TODO" in project.scope %}
                                            <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if project.overview and "TODO" not in project.overview %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% elif "TODO" in project.overview %}
                                            <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if project.executive_summary and "TODO" not in project.executive_summary %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% elif "TODO" in project.executive_summary %}
                                            <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if project.conclusion and "TODO" not in project.conclusion %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% elif "TODO" in project.conclusion %}
                                            <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12">
                            {% for assessment in project.assessment_set.all %}
                            <h3><i class="fa fa-cube"></i> {{ assessment.name }}</h3>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th class="text-center">Asset</th>
                                        <th class="text-center">Body</th>
                                        <th class="text-center">Remediation</th>
                                        <th class="text-center">CVSS</th>
                                        <th class="text-center">Screenshots</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hit in assessment.hit_set.all %}
                                    <tr>
                                        <td>
                                            <a href="/hit/{{ hit.id }}/">
                                                {{ hit.title }}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if hit.asset and "TODO" not in hit.asset %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% elif "TODO" in hit.asset %}
                                            <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if hit.body and "TODO" not in hit.asset %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% elif "TODO" in hit.body %}
                                            <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if hit.remediation and "TODO" not in hit.remediation %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% elif "TODO" in hit.remediation %}
                                            <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if hit.get_cvss_value != '---' %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="">
                                            {% if hit.get_not_injected_screenshots.count %}
                                            <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Filled"></i>
                                            {{ hit.get_not_injected_screenshots.count }}
                                            {% else %}
                                            <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="Empty"></i>
                                            {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Assesments summary table-->
        <div class="row mb-4">
            <div class="col-lg-12">
                {% if project.assessment_set.all|length == 0 %}
                <b>No assessment found. <a href="/assessments/new/">Create one</a></b>
                {% else %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col"><span class="bc-badge bc-badge--p1">P1</span></th>
                                    <th scope="col"><span class="bc-badge bc-badge--p2">P2</span></th>
                                    <th scope="col"><span class="bc-badge bc-badge--p3">P3</span></th>
                                    <th scope="col"><span class="bc-badge bc-badge--p4">P4</span></th>
                                    <th scope="col"><span class="bc-badge bc-badge--p5">P5</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assessment in project.assessment_set.all %}
                                <tr>
                                    <td><a href="#{{assessment.name}}">{{assessment.name}}</a></td>
                                    <td>{{assessment.p1_hits|length}}</td>
                                    <td>{{assessment.p2_hits|length}}</td>
                                    <td>{{assessment.p3_hits|length}}</td>
                                    <td>{{assessment.p4_hits|length}}</td>
                                    <td>{{assessment.p5_hits|length}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        <!-- Assesments summary table-->
        {% for assessment in project.assessment_set.all %}
        <div id="{{assessment.name}}" class="row mb-4">
            <div class="col-lg-12">
                {% if editable == True and project.archived == False %}
                    <h3><i class="fa fa-cube"> </i>{{assessment.name}} <a class="btn btn-outline-warning" href="/assessment/{{assessment.id}}/" role="button">Edit</a></h3>
                {% else %}
                    <h3><i class="fa fa-cube"> </i>{{assessment.name}}</h3>
                {% endif %}
                {% if assessment.hit_set.all or assessment.open_flags.all  %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3>Hits!</h3>
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Severity</th>
                                                {% if project.cvss_type == 3 %}
                                                <th>CVSSv3.1</th>
                                                {% else %}
                                                <th>CVSSv4.0</th>
                                                {% endif %}
                                                <th>Title</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for hit in assessment.hit_set.all %}
                                            <tr>
                                                <td>
                                                    <span class="bc-badge bc-badge--p{{ hit.severity }}">
                                                        P{{ hit.severity }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="cvss{{project.cvss_type}} cvss{{project.cvss_type}}-badge cvss{{project.cvss_type}}-badge-secondary">
                                                        {{ hit.get_cvss_value }}
                                                    </span>
                                                </td>
                                                <td>
                                                    {% if hit.status == "D" %}
                                                        <i class="fa fa-info-circle" style="color: blue;" data-toggle="tooltip" data-placement="left" title="Draft"></i>
                                                    {% elif hit.status == "R" %}
                                                        <i class="fa fa-exclamation-triangle" style="color: orange;" data-toggle="tooltip" data-placement="left" title="To Review"></i>
                                                    {% elif hit.status == "F" %}
                                                        <i class="fa fa-times-circle" style="color: red;" data-toggle="tooltip" data-placement="left" title="To Fix"></i>
                                                    {% elif hit.status == "V" %}
                                                        <i class="fa fa-check-circle" style="color: green;" data-toggle="tooltip" data-placement="left" title="Validated"></i>
                                                    {% else %}
                                                        <i class="fa fa-eye-slash" style="color: gray;" data-toggle="tooltip" data-placement="left" title="Hidden"></i>
                                                    {% endif %}
                                                    <a href="/hit/{{ hit.id }}/">
                                                        {{ hit.title }}
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-5">
                                    <h3>Open Flags</h3>
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col">Assignee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for flag in assessment.open_flags.all %}
                                            <tr>
                                                <td>
                                                    <a href="/flag/{{ flag.id }}/">{{ flag.title }}</a>
                                                </td>
                                                <td>
                                                    {{ flag.assignee.username }} {% if flag.assignee.is_active == False %} (inactive) {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- Attack Scenarios -->
        <div class="row mb-4">
            {% if project.attackscenario_set.all %}
            <div class="col-lg-7">
                <h3><i class="fa fa-book"></i> Attack Scenarios</h3>

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attackscenario in project.attackscenario_set.all %}
                        <tr>
                            <td>
                                <a href="/attackscenario/{{ attackscenario.id }}/">{{ attackscenario.name }}</a>
                            </td>
                            <td>
                                <!-- Structure to automatically display svg -->
                                <!-- Create a textarea block containing scenario data with class `scenarioToDraw` -->
                                <!-- The svg will populated into the block having the id of the code block concatenated with '_svg' -->
                                <textarea id="scenario_{{ attackscenario.id }}" class="scenarioToDraw" style="display: none;">{{ attackscenario.scenario }}</textarea>
                                <div id="scenario_{{ attackscenario.id }}_svg" style="display: none;"></div>
                                <a class="btn btn-outline-success" href="#" role="button" onclick="displayScenarioAttack('{{ attackscenario.name }}','scenario_{{ attackscenario.id }}_svg')">Display</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="attackScenarioPreviewModal" tabindex="-1" role="dialog" aria-labelledby="attackScenarioPreviewModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="attackScenarioPreviewModalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="svgPreview"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Recommendations -->
            {% if project.recommendation_set.all %}

            <div class="col-lg-5">
                <h3><i class="fa fa-medkit"></i> Recommendations</h3>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recommendation in project.recommendation_set.all %}
                        <tr>
                            <td>
                                <a href="/recommendation/{{ recommendation.id }}/">{{ recommendation.name }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>

        <!-- Retest Campaign summary table-->
        {% if project.retestcampaign_set.all %}
            <div class="row mb-4">
                <div class="col-lg-12">
                    <h3><i class="fa fa-flask"></i> Retest Campaigns</h3>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for retestcampaign in project.retestcampaign_set.all %}
                            <tr>
                                <td><a href="/retestcampaign/{{retestcampaign.id}}/summary">{{retestcampaign.name}}</a></td>
                                <td>{{retestcampaign.start_date}}</td>
                                <td>{{retestcampaign.end_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <!-- /.row -->

        {% if project.assessment_set.all|length != 0 %}
        <a class="btn btn-outline-success mb-4" href="/project/{{project.id}}/report" target="_blank" role="button">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Generate HTML report
        </a>
        <a class="btn btn-outline-success mb-4" href="/api/project/{{project.id}}/latex" target="_blank" role="button">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Generate LaTeX report
        </a>
        <a class="btn btn-outline-success mb-4" href="/api/project/{{project.id}}/xlsx" target="_blank" role="button">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Generate Excel report
        </a>
        <a class="btn btn-outline-success mb-4" href="/api/project/{{project.id}}/json" target="_blank" role="button">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Generate JSON report
        </a>
        {% endif %}
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
<script src="/static/js/plugins/hpcc/index.min.js"></script>
<script src="/static/js/plugins/js-yaml/js-yaml.min.js"></script>
<script src="/static/js/customs/deciduous.js"></script>

<script>
    $("#projectExecutiveSummary").html(marked($("#projectExecutiveSummary").html()));
    $("#projectConclusion").html(marked($("#projectConclusion").html()));

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'top',
            trigger: 'hover'
        });
    });

    function displayScenarioAttack(title, svgId){
        $("#attackScenarioPreviewModalTitle").text(title);
        $("#svgPreview").html($("#" + svgId).html());
        $('#attackScenarioPreviewModal').modal();
    }

    /**
     * Select all hits.
     */
     $('#selectAllHitBtn').on('click', function () {
        $('.hit').prop('checked', true);
    });

    /**
     * Update hit status in bulk.
     */
    $('#updateHitStatusBtn').on('click', function () {
        var newStatus = $('#newStatus').val();
        if (!newStatus) {
            error($("#updateMessages"), "Please select a new status.");
            return;
        }
        var hits = [];
        $('.hit:checked').each(function() {
            hits.push($(this).attr('hit_id'));
        });
        if (hits.length === 0) {
            error($("#updateMessages"), "Please select at least one hit.");
            return;
        }
        waitingDialog.show();
        setTimeout(bulkUpdateHits, 100, hits, newStatus);
    });

    function bulkUpdateHits(hits, newStatus) {
        var hitsProcessed = 0;
        var hitsToProcess = hits.length;

        function hitUpdateSuccess(data) {
            success($("#messages"), "Hit updated with success!");
            hitsProcessed++;
            if (hitsProcessed === hitsToProcess) {
                waitingDialog.hide();
                location.reload();
            }
        }
        function hitUpdateFailure(data) {
            error($("#messages"), "Hit was not updated!");
            hitsProcessed++;
            if (hitsProcessed === hitsToProcess) {
                waitingDialog.hide();
                location.reload();
            }
        }

        for (var i = 0; i < hits.length; i++) {
            ajaxUpdateHitStatus(hitUpdateSuccess, hitUpdateFailure, hits[i], newStatus);
        }
    }

</script>
{% endblock %}
