{% extends "base.html" %}
{% load addstr %}

{% block title %} {{ hit.title }} | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' sub_icon='fa fa-cubes' sub_url="/project/"|addstr:hit.assessment.project.pk|addstr:"/summary" sub_text=hit.assessment.project third_icon='fa fa-cube' third_url="/assessment/"|addstr:hit.assessment.pk third_text=hit.assessment active_icon='' active_text=hit.title %}
        {% include "_include/html/messages.html" %}

        <h5>{{ hit.get_unique_id }}</h5>
        <div class="row">
            <div class="col-lg-7">
                <div class="form-group">
                    <label>Severity</label>
                    <select id="severity" class="form-control">
                        {% for sev in severities %}
                        <option value={{sev}}> P{{sev}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>CVSS v{{cvss_type}}</label>
                    <h5><span id="cvss{{cvss_type}}Value" class="cvss{{cvss_type}}-badge cvss{{cvss_type}}-badge-secondary">No Rating (---)</span></h5>
                    <input id="cvss{{cvss_type}}" class="cvss{{cvss_type}}-badge cvss{{cvss_type}}-badge-secondary" type="hidden" value="---" />
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="title" class="form-control" value="{{ hit.title }}" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Asset</label>
                    <input id="asset" class="form-control" value="{{ hit.asset }}" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea id="body" class="form-control" style="resize:vertical" rows="10">{{ hit.body }}</textarea>
                </div>
                <div class="form-group">
                    <label>Remediation</label>
                    <textarea id="remediation" class="form-control" style="resize:vertical" rows="10">{{ hit.remediation }}</textarea>
                </div>
                <div class="form-group">
                    <label>Fix complexity</label>
                    <select class="form-control" id="fix_complexity">
                        <option value=0> N/D </option>
                        <option value=1> Hard </option>
                        <option value=2> Moderate </option>
                        <option value=3> Easy </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Labels</label>
                    <select class="js-states form-control" id="labels" multiple="multiple">
                        {% for label in labels %}
                        <option value="{{ label.id }}">{{ label.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="assessment">Assessment</label>
                    <select id="assessment" class="form-control">
                        {% for assessment in assessments %}
                        <option value="{{ assessment.id }}" {% if assessment.id == hit.assessment.id %}
                            selected="selected" {% endif %}>{{ assessment.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="checkbox">
                    <label><input id="displayable" type="checkbox" {% if True == hit.displayable %} checked{% endif %}>Displayed in report</label>
                </div>
                <input id="id" type="hidden" value="{{ hit.id }}" />
                {% if editable == True %}
                <button id="updateBtn" class="btn btn-outline-primary mb-4">Update</button>
                <button id="delBtn" class="btn btn-outline-danger mb-4">Delete</button>
                {% endif %}
            </div>
            <div class="col-lg-5">
                {% if cvss_type == 3 %}
                {% include "_include/html/cvss3.html" %}
                {% else %}
                {% include "_include/html/cvss4.html" %}
                {% endif %}

                <!-- Reference Area -->
                <div class="panel panel-default">
                    <div class="panel-body">
                
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>References</h4>
                            </div>
                        </div>
                            
                        <div id="references">
                            {% for reference in hit.hitreference_set.all %}
                            <div id="reference_{{reference.id}}">
                                <p>
                                    {% if editable == True %}
                                        <a class="fa fa-close" style="color:red" href="javascript:deleteReference({{reference.id}})"></a>&nbsp;
                                    {% endif %}
                                    <b>{{ reference.name}}</b> : <a href="{{reference.url}}">{{reference.url}}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                {% if editable == True %}
                    <button type="button" class="btn btn-outline-info mb-4" data-toggle="modal" data-target="#addReferenceModal">Add a reference</button>
                    
                    <!-- Add a hit reference modal -->
                    <div class="modal fade" id="addReferenceModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add a reference</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input id="newReferenceName" class="form-control" autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label>Url</label>
                                        <input id="newReferenceUrl" class="form-control" placeholder="Only http/https url"  autocomplete="off" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="addReferenceBtn" type="submit" class="btn btn-outline-primary" onclick="addReference()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% include "_include/html/attachments.html" %}
                {% include "_include/html/screenshots.html" %}

                <!-- Comment area -->
                <div class="panel panel-default">
                    <div class="panel-body">
                
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Comments</h4>
                            </div>
                        </div>
                            
                        <div id="comments">
                            {% for comment in hit.comment_set.all %}
                            <div id="comment_{{comment.id}}" class="speech-bubble">
                                <p>&nbsp;&nbsp;<b>{{comment.author.username}}</b> wrote on {{ comment.added }} :</p>
                                <p>{{ comment.text}}</p>
                                {% if editable == True %}
                                    <a class="fa fa-close" style="position: absolute; top: 8px; right: 8px; color: white" href="javascript:deleteComment({{comment.id}})"></a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                
                        {% if editable == True %}
                        <button type="button" class="btn btn-outline-info mb-4" data-toggle="modal" data-target="#addCommentModal">Add a comment</button>
                        
                        <!-- Add a comment modal -->
                        <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add a comment</h5>
                                    </div>
                                    <div class="modal-body">
                                        <textarea id="commentText" class="form-control" rows="5" id="scope" style="resize:vertical" ></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="addCommentBtn" type="submit" class="btn btn-outline-primary" onclick="addComment()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_foot %}
{% include '_include/js/deleteItem.html' with item='Hit' ajax_function='ajaxDeleteHit' %}
<script type="text/javascript">

    /* --------------------------------------------------------------------------------------------------- */
    /* ------------------------------------------ Init Page ---------------------------------------------- */
    /* --------------------------------------------------------------------------------------------------- */
    /* Select the current severity and fix complexity */$
    $('#severity option[value={{hit.severity}}]').attr('selected', 'selected');
    $('#fix_complexity option[value={{hit.fix_complexity}}]').attr('selected', 'selected');

    {% if cvss_type == 3 %}
    displayCVSS3("{{hit.get_cvss_value}}");
    loadCVSS3ButtonsState("{{hit.cvss3.attack_vector}}", "{{hit.cvss3.attack_complexity}}", "{{hit.cvss3.privilege_required}}", "{{hit.cvss3.user_interaction}}", "{{hit.cvss3.scope}}", "{{hit.cvss3.confidentiality}}", "{{hit.cvss3.integrity}}", "{{hit.cvss3.availability}}");
    {% else %}
    displayCVSS4("{{hit.get_cvss_value}}");
    loadCVSS4ButtonsState("{{hit.cvss4.attack_vector}}", "{{hit.cvss4.attack_complexity}}", "{{hit.cvss4.attack_requirements}}", "{{hit.cvss4.privilege_required}}", "{{hit.cvss4.user_interaction}}", "{{hit.cvss4.confidentiality}}", "{{hit.cvss4.integrity}}", "{{hit.cvss4.availability}}", "{{hit.cvss4.subsequent_confidentiality}}", "{{hit.cvss4.subsequent_integrity}}", "{{hit.cvss4.subsequent_availability}}");
    {% endif %}

    activeMarkdown("body");
    activeMarkdown("remediation");

    var colorMap = new Map();
    {% for label in labels %}
    colorMap.set("{{ label.id }}", "{{ label.color }}");
    {% endfor %}

    var selectedLabels = [];
    {% for label in hit.labels.all %}
    selectedLabels.push({{ label.id }});
    {% endfor %}

    $('#labels').select2({
        templateSelection: function (data, container) {
            var color = colorMap.get(data.id);
            $(container).css("background-color", color);
            $(container).css("color", "white");
            return data.text;
        }
    }).val(selectedLabels).trigger("change");

    activeBootstapMenuForScreenshots(screenshotMoveUpCallback,screenshotMoveDownCallback);

    /* --------------------------------------------------------------------------------------------------- */
    /* ------------------------------------------ Hit Update --------------------------------------------- */
    /* --------------------------------------------------------------------------------------------------- */
    
    /**
     * Hit updation success callback.
     */
    function hitUpdationSuccess(data) {
        success($("#messages"), "Hit was Updated!");
    }

    /**
     * Update hit.
     */
    $('#updateBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateHit(hitUpdationSuccess, commonFailure, $("#id").val(), $("#severity").val(), $("#title").val(), $("#asset").val(), $("#body").val(), $("#remediation").val(), $("#displayable").prop("checked"), $("#fix_complexity").val(), $("#labels").select2("val"), $("#assessment").val());
        {% if cvss_type == 3 %}
        ajaxRemoveCVSSv31(cvssDeletionSuccess, commonFailure, $("#id").val());
        {% else %}
        ajaxRemoveCVSSv4(cvssDeletionSuccess, commonFailure, $("#id").val());
        {% endif %}
    });

    /* --------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------- CVSS Actions -------------------------------------------- */
    /* --------------------------------------------------------------------------------------------------- */

    /**
     * Hit CVSS deletion callback
     */
     function cvssDeletionSuccess(data) {
        {% if cvss_type == 3 %}
        addCVSSv31ToHit($("#id").val());
        {% else %}
        addCVSSv4ToHit($("#id").val());
        {% endif %}
    }

    /* --------------------------------------------------------------------------------------------------- */
    /* ----------------------------------------Reference Actions ----------------------------------------- */
    /* --------------------------------------------------------------------------------------------------- */

    /**
     * Add a reference.
     */
     function addReference(){
        var newReferenceName = $("#newReferenceName").val();
        var newReferenceUrl = $("#newReferenceUrl").val();
        if (newReferenceName !== "") {
            if (newReferenceUrl !== "") {
                ajaxCreateHitReference(referenceCreationSuccess, commonFailure, newReferenceName, newReferenceUrl, $("#id").val());
            } else {
                bootbox.alert("Url is empty!")
            }
        } else {
            bootbox.alert("Name is empty!")
        }
    }

    /**
     * Delete a reference
     */
     function deleteReference(id){
        ajaxDeleteHitReference(referenceDeletionSuccess, commonFailure, id);
    }

    /**
     * Reference creation success callback.
     */
     function referenceCreationSuccess(data) {
        $('#references').append(
            $('<div>', {
                id: "reference_" + data.id,
            }).append("<p><a class='fa fa-close' style='color:red' href='javascript:deleteReference(" + data.id + ")'></a>&nbsp;<b>" + $("<div>").text(data.name).html() + "</b> : <a href='" + $("<div>").text(data.url).html() +"'>" + $("<div>").text(data.url).html() +"</a></p></div>"));
        $("#addReferenceModal").modal('toggle');
        $("#newReferenceName").val("");
        $("#newReferenceUrl").val("");
    }

    /**
     * Reference deletion success callback.
     */
     function referenceDeletionSuccess(data) {
        $("#reference_" + data.id).remove();
    }

    /* --------------------------------------------------------------------------------------------------- */
    /* ---------------------------------------- Comments Actions ----------------------------------------- */
    /* --------------------------------------------------------------------------------------------------- */

    /**
     * Add a comment.
     */
    function addComment(){
        var commentText = $("#commentText").val();
        if (commentText !== "") {
            ajaxCreateComment(commentCreationSuccess, commonFailure, commentText, $("#id").val());
        } else {
            bootbox.alert("Comment is empty!")
        }
    }

    /**
     * Delete a comment
     */
    function deleteComment(id){
        ajaxDeleteComment(commentDeletionSuccess, commonFailure, id);
    }

    /**
     * Comment creation success callback.
     */
     function commentCreationSuccess(data) {
        $('#comments').append(
            $('<div>', {
                id: "comment_" + data.id,
                class: "speech-bubble",
            }).append("<p>&nbsp;&nbsp;You just wrote :</p><p>" + $("<div>").text(data.text).html() + "</p><a class='fa fa-close' style='position: absolute; top: 8px; right: 8px; color: white' href='javascript:deleteComment("+ data.id +")'/></a>"));
        $("#addCommentModal").modal('toggle');
        $("#commentText").val("");
    }

    /**
     * Comment deletion success callback.
     */
     function commentDeletionSuccess(data) {
        $("#comment_" + data.id).remove();
    }

    /* --------------------------------------------------------------------------------------------------- */
    /* --------------------------------------- Screenshots Actions --------------------------------------- */
    /* --------------------------------------------------------------------------------------------------- */

    /**
     * Override addScreenshot from screenshot.js in order to upload the file on the fly.
     */
    function addScreenshot() {
        var dataURL = $("#screenshotData").val()
        var caption = $("#screenshotCaption").val()
        if (dataURL !== "") {
            ajaxUploadScreenshot(screenshotCreationSuccess, commonFailure, dataURL, caption, $("#id").val());
        } else {
            bootbox.alert("No screenshot is pasted!")
        }
    }

    /**
     * Override dropDeleteScreenshot from screenshot.js in order to delete the file on the fly.
     */
    function dropDeleteScreenshot(ev) {
        ev.preventDefault();
        id = ev.dataTransfer.getData("text");
        ajaxDeleteScreenshot(screenshotDeletionSuccess, commonFailure, id);
    }

    /**
     * Screenshot creation success callback.
     */
    function screenshotCreationSuccess(data) {
        createScreenshot(data.id, "/api/screenshot/png/" + data.id + "/", data.caption, data.order);
        buildContextMenuForScreenshots("screenshot_link_" + data.id, data.id, data.order, $('.screenshot').length, screenshotMoveUpCallback,screenshotMoveDownCallback);
        var previousBlock = $("#screenshot_link_" + data.id).prev('.screenshot');
        previousBlock.contextMenu('destroy');
        buildContextMenuForScreenshots(previousBlock.attr('id'),previousBlock.attr('data-screenshot-id'),parseInt(previousBlock.attr('data-screenshot-order'), 10), $('.screenshot').length ,screenshotMoveUpCallback,screenshotMoveDownCallback);
        resetScreenshotModal();
    }

    /**
     * Screenshot deletion success callback.
     */
    function screenshotDeletionSuccess(data) {
        removeScreenshot(data.id);
        //Apply reordering on UI.
        var count = $('.screenshot').length;

        $(".screenshot").each(function() {
            var order = parseInt($(this).attr('data-screenshot-order'),10)
            if ( order > data.order) {
                var newOrder = order - 1;
                $(this).attr('data-screenshot-order', newOrder);

                //Rebuild context menu.
                $(this).contextMenu('destroy');
                buildContextMenuForScreenshots($(this).attr('id'),$(this).attr('data-screenshot-id'),newOrder,count,screenshotMoveUpCallback,screenshotMoveDownCallback);
            } else if (order == (data.order - 1)) {
                $(this).contextMenu('destroy');
                buildContextMenuForScreenshots($(this).attr('id'),$(this).attr('data-screenshot-id'),order,count,screenshotMoveUpCallback,screenshotMoveDownCallback);
            }
        });
    }

    /**
     * Callback to take in account reordering of screenshots.
     */
    function screenshotMoveUpSuccess(data) {
        var currentBlockId = "screenshot_link_" + data.id;
        var currentBlock = $("#" + currentBlockId);
        var previousBlock = currentBlock.prev('.screenshot');

        //Change data-order attribute for both elements.
        currentBlock.attr('data-screenshot-order', data.order);
        previousBlock.attr('data-screenshot-order', data.order + 1);

        //Change the order in the DOM.
        moveUpScreenshot(currentBlockId);
       
        //Update Context menu.
        currentBlock.contextMenu('destroy');
        previousBlock.contextMenu('destroy');

        var count = $('.screenshot').length;
        buildContextMenuForScreenshots(currentBlock.attr('id'),currentBlock.attr('data-screenshot-id'),parseInt(currentBlock.attr('data-screenshot-order'), 10),count,screenshotMoveUpCallback,screenshotMoveDownCallback);
        buildContextMenuForScreenshots(previousBlock.attr('id'),previousBlock.attr('data-screenshot-id'),parseInt(previousBlock.attr('data-screenshot-order'), 10),count,screenshotMoveUpCallback,screenshotMoveDownCallback);
    }

    /**
     * Callback to take in account reordering of screenshots.
     */
     function screenshotMoveDownSuccess(data) {
        var currentBlockId = "screenshot_link_" + data.id;
        var currentBlock = $("#" + currentBlockId);
        var nextBlock = currentBlock.next('.screenshot');

        //Change data-order attribute for both elements.
        currentBlock.attr('data-screenshot-order', data.order);
        nextBlock.attr('data-screenshot-order', data.order - 1);

        //Change the order in the DOM.
        moveDownScreenshot(currentBlockId);
       
        //Update Context menu.
        currentBlock.contextMenu('destroy');
        nextBlock.contextMenu('destroy');

        var count = $('.screenshot').length;
        buildContextMenuForScreenshots(currentBlock.attr('id'),currentBlock.attr('data-screenshot-id'),parseInt(currentBlock.attr('data-screenshot-order'), 10),count, screenshotMoveUpCallback,screenshotMoveDownCallback);
        buildContextMenuForScreenshots(nextBlock.attr('id'),nextBlock.attr('data-screenshot-id'),parseInt(nextBlock.attr('data-screenshot-order'), 10),count,screenshotMoveUpCallback,screenshotMoveDownCallback);
    }

    function screenshotMoveUpCallback(screenshotBlockId, screenshotId, order) {
        ajaxReorderScreenshot(screenshotMoveUpSuccess, commonFailure, screenshotId, order);
    }

    function screenshotMoveDownCallback(screenshotBlockId, screenshotId, order) {
        ajaxReorderScreenshot(screenshotMoveDownSuccess, commonFailure, screenshotId, order);
    }

    /* --------------------------------------------------------------------------------------------------- */
    /* --------------------------------------- Attachments Actions --------------------------------------- */
    /* --------------------------------------------------------------------------------------------------- */

    /**
     * Override openAttachment from attachment.js in order to upload the file on the fly.
     */
    function openAttachment() {
        var input = event.target;
        var reader = new FileReader();
        reader.fileName = input.files[0].name;
        reader.onload = function (readerEvt) {
            ajaxUploadAttachment(attachmentCreationSuccess, commonFailure, reader.result, readerEvt.target.fileName, $("#id").val());
        };
        reader.readAsDataURL(input.files[0]);
    }

    /**
     * Attachment creation success callback.
     */
    function attachmentCreationSuccess(data) {
        //Add attachment to the list.
        $('#attachments').append($('<div>', { class: "mb-2" }).append($('<i>', { class: "far fa-file" })).append($('<a>', { id: "attachment_link_" + data.id, href: "/api/attachment/raw/" + data.id}).text(" " + data.attachment_name + " ")).append($('<i>', { class: "fa fa-close", onclick: "deleteAttachment(" + data.id + ")"})));
        $('#AttachmentUpload').val('')
    }

    /**
     * Delete Attachment.
     */
    function deleteAttachment(id) {
        ajaxDeleteAttachment(attachmentDeletionSuccess, commonFailure, id);
    }

    /**
     * Attachment deletion success callback.
     */
    function attachmentDeletionSuccess(data) {
        removeAttachment(data.id);
    }
</script>
{% endblock %}