{% extends "base.html" %}
{% load addstr %}

{% block title %} {{ hit.title }} | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' sub_icon='fa fa-cubes' sub_url="/project/"|addstr:hit.assessment.project.pk|addstr:"/summary" sub_text=hit.assessment.project third_icon='fa fa-cube' third_url="/assessment/"|addstr:hit.assessment.pk third_text=hit.assessment active_icon='' active_text=hit.title %}
        {% include "_include/html/messages.html" %}

        <h5>{{ hit.get_unique_id }}</h5>
        <div class="row">
            <div class="col-lg-7">
                <div class="form-group">
                    <label>Severity</label>
                    <select id="severity" class="form-control">
                        {% for sev in severities %}
                        <option value={{sev}}> P{{sev}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>CVSS v3.1</label>
                    <h5><span id="cvssValue" class="cvss-badge cvss-badge-secondary">No Rating (---)</span></h5>
                    <input id="cvss cvss-badge cvss-badge-secondary" type="hidden" value="---" />
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="title" class="form-control" value="{{ hit.title }}" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Asset</label>
                    <input id="asset" class="form-control" value="{{ hit.asset }}" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea id="body" class="form-control" style="resize:vertical" rows="10">{{ hit.body }}</textarea>
                </div>
                <div class="form-group">
                    <label>Remediation</label>
                    <textarea id="remediation" class="form-control" style="resize:vertical" rows="10">{{ hit.remediation }}</textarea>
                </div>
                <div class="form-group">
                    <label>Fix complexity</label>
                    <select class="form-control" id="fix_complexity">
                        <option value=0> N/D </option>
                        <option value=1> Hard </option>
                        <option value=2> Moderate </option>
                        <option value=3> Easy </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Labels</label>
                    <select class="js-states form-control" id="labels" multiple="multiple">
                        {% for label in labels %}
                        <option value="{{ label.id }}">{{ label.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="assessment">Assessment</label>
                    <select id="assessment" class="form-control">
                        {% for assessment in assessments %}
                        <option value="{{ assessment.id }}" {% if assessment.id == hit.assessment.id %}
                            selected="selected" {% endif %}>{{ assessment.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="checkbox">
                    <label><input id="displayable" type="checkbox" {% if True == hit.displayable %} checked{% endif %}>Displayed in report</label>
                </div>
                <input id="id" type="hidden" value="{{ hit.id }}" />
                {% if editable == True %}
                <button id="updateBtn" class="btn btn-outline-primary mb-4">Update</button>
                <button id="delBtn" class="btn btn-outline-danger mb-4">Delete</button>
                {% endif %}
            </div>
            <div class="col-lg-5">
                {% include "_include/html/cvss.html" %}

                <!-- Reference Area -->
                <div class="panel panel-default">
                    <div class="panel-body">
                
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>References</h4>
                            </div>
                        </div>
                            
                        <div id="references">
                            {% for reference in hit.hitreference_set.all %}
                            <div id="reference_{{reference.id}}">
                                <p>
                                    {% if editable == True %}
                                        <a class="fa fa-close" style="color:red" href="javascript:deleteReference({{reference.id}})"></a>&nbsp;
                                    {% endif %}
                                    <b>{{ reference.name}}</b> : <a href="{{reference.url}}">{{reference.url}}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                {% if editable == True %}
                    <button type="button" class="btn btn-outline-info mb-4" data-toggle="modal" data-target="#addReferenceModal">Add a reference</button>
                    
                    <!-- Add a hit reference modal -->
                    <div class="modal fade" id="addReferenceModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add a reference</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input id="newReferenceName" class="form-control" autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label>Url</label>
                                        <input id="newReferenceUrl" class="form-control" placeholder="Only http/https url"  autocomplete="off" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="addReferenceBtn" type="submit" class="btn btn-outline-primary" onclick="addReference()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% include "_include/html/attachments.html" %}
                {% include "_include/html/screenshots.html" %}

                <!-- Comment area -->
                <div class="panel panel-default">
                    <div class="panel-body">
                
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Comments</h4>
                            </div>
                        </div>
                            
                        <div id="comments">
                            {% for comment in hit.comment_set.all %}
                            <div id="comment_{{comment.id}}" class="speech-bubble">
                                <p>&nbsp;&nbsp;<b>{{comment.author.username}}</b> wrote on {{ comment.added }} :</p>
                                <p>{{ comment.text}}</p>
                                {% if editable == True %}
                                    <a class="fa fa-close" style="position: absolute; top: 8px; right: 8px; color: white" href="javascript:deleteComment({{comment.id}})"></a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                
                        {% if editable == True %}
                        <button type="button" class="btn btn-outline-info mb-4" data-toggle="modal" data-target="#addCommentModal">Add a comment</button>
                        
                        <!-- Add a comment modal -->
                        <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add a comment</h5>
                                    </div>
                                    <div class="modal-body">
                                        <textarea id="commentText" class="form-control" rows="5" id="scope" style="resize:vertical" ></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="addCommentBtn" type="submit" class="btn btn-outline-primary" onclick="addComment()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_foot %}
{% include '_include/js/deleteItem.html' with item='Hit' ajax_function='ajaxDeleteHit' %}
<script type="text/javascript">

    /* Select the current severity and fix complexity */$
    $('#severity option[value={{hit.severity}}]').attr('selected', 'selected');
    $('#fix_complexity option[value={{hit.fix_complexity}}]').attr('selected', 'selected');

    displayCVSS("{{hit.get_cvss_value}}")
    loadCVSSButtonsState("{{hit.cvss.attack_vector}}", "{{hit.cvss.attack_complexity}}", "{{hit.cvss.privilege_required}}", "{{hit.cvss.user_interaction}}", "{{hit.cvss.scope}}", "{{hit.cvss.confidentiality}}", "{{hit.cvss.integrity}}", "{{hit.cvss.availability}}");
    activeMarkdown("body");
    activeMarkdown("remediation");

    var colorMap = new Map();
    {% for label in labels %}
    colorMap.set("{{ label.id }}", "{{ label.color }}");
    {% endfor %}

    var selectedLabels = [];
    {% for label in hit.labels.all %}
    selectedLabels.push({{ label.id }});
    {% endfor %}

    $('#labels').select2({
        templateSelection: function (data, container) {
            var color = colorMap.get(data.id);
            $(container).css("background-color", color);
            $(container).css("color", "white");
            return data.text;
        }
    }).val(selectedLabels).trigger("change");

    /**
     * Hit updation success callback.
     */
    function hitUpdationSuccess(data) {
        success($("#messages"), "Hit was Updated!");
    }

    /**
     * Hit CVSS deletion callback
     */
    function cvssDeletionSuccess(data) {
        addCVSSv31ToHit($("#id").val());
    }

    /**
     * Update hit.
     */
    $('#updateBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateHit(hitUpdationSuccess, commonFailure, $("#id").val(), $("#severity").val(), $("#title").val(), $("#asset").val(), $("#body").val(), $("#remediation").val(), $("#displayable").prop("checked"), $("#fix_complexity").val(), $("#labels").select2("val"), $("#assessment").val());
        ajaxRemoveCVSSv31(cvssDeletionSuccess, commonFailure, $("#id").val());
    });

    /**
     * Add a reference.
     */
     function addReference(){
        var newReferenceName = $("#newReferenceName").val();
        var newReferenceUrl = $("#newReferenceUrl").val();
        if (newReferenceName !== "") {
            if (newReferenceUrl !== "") {
                ajaxCreateHitReference(referenceCreationSuccess, commonFailure, newReferenceName, newReferenceUrl, $("#id").val());
            } else {
                bootbox.alert("Url is empty!")
            }
        } else {
            bootbox.alert("Name is empty!")
        }
    }

    /**
     * Delete a reference
     */
     function deleteReference(id){
        ajaxDeleteHitReference(referenceDeletionSuccess, commonFailure, id);
    }

    /**
     * Add a comment.
     */
    function addComment(){
        var commentText = $("#commentText").val();
        if (commentText !== "") {
            ajaxCreateComment(commentCreationSuccess, commonFailure, commentText, $("#id").val());
        } else {
            bootbox.alert("Comment is empty!")
        }
    }

    /**
     * Delete a comment
     */
    function deleteComment(id){
        ajaxDeleteComment(commentDeletionSuccess, commonFailure, id);
    }

    /**
     * Override addScreenshot from screenshot.js in order to upload the file on the fly.
     */
    function addScreenshot() {
        var dataURL = $("#screenshotData").val()
        var caption = $("#screenshotCaption").val()
        if (dataURL !== "") {
            ajaxUploadScreenshot(screenshotCreationSuccess, commonFailure, dataURL, caption, $("#id").val());
        } else {
            bootbox.alert("No screenshot is pasted!")
        }
    }

    /**
     * Override drop from screenshot.js in order to delete the file on the fly.
     */
    function drop(ev) {
        ev.preventDefault();
        id = ev.dataTransfer.getData("text");
        ajaxDeleteScreenshot(screenshotDeletionSuccess, commonFailure, id);
    }

    /**
     * Screenshot creation success callback.
     */
    function screenshotCreationSuccess(data) {
        createScreenshot(data.id, "/api/screenshot/png/" + data.id + "/", data.caption)
        resetScreenshotModal();
    }

    /**
     * Reference creation success callback.
     */
     function referenceCreationSuccess(data) {
        $('#references').append(
            $('<div>', {
                id: "reference_" + data.id,
            }).append("<p><a class='fa fa-close' style='color:red' href='javascript:deleteReference(" + data.id + ")'></a>&nbsp;<b>" + $("<div>").text(data.name).html() + "</b> : <a href='" + $("<div>").text(data.url).html() +"'>" + $("<div>").text(data.url).html() +"</a></p></div>"));
        $("#addReferenceModal").modal('toggle');
        $("#newReferenceName").val("");
        $("#newReferenceUrl").val("");
    }

    /**
     * Reference deletion success callback.
     */
     function referenceDeletionSuccess(data) {
        $("#reference_" + data.id).remove();
    }

    /**
     * Comment creation success callback.
     */
     function commentCreationSuccess(data) {
        $('#comments').append(
            $('<div>', {
                id: "comment_" + data.id,
                class: "speech-bubble",
            }).append("<p>&nbsp;&nbsp;You just wrote :</p><p>" + $("<div>").text(data.text).html() + "</p><a class='fa fa-close' style='position: absolute; top: 8px; right: 8px; color: white' href='javascript:deleteComment("+ data.id +")'/></a>"));
        $("#addCommentModal").modal('toggle');
        $("#commentText").val("");
    }

    /**
     * Comment deletion success callback.
     */
     function commentDeletionSuccess(data) {
        $("#comment_" + data.id).remove();
    }

    /**
     * Screenshot deletion success callback.
     */
    function screenshotDeletionSuccess(data) {
        removeScreenshot(data.id);
    }

    /**
     * Override openAttachment from attachment.js in order to upload the file on the fly.
     */
    function openAttachment() {
        var input = event.target;
        var reader = new FileReader();
        reader.fileName = input.files[0].name;
        reader.onload = function (readerEvt) {
            ajaxUploadAttachment(attachmentCreationSuccess, commonFailure, reader.result, readerEvt.target.fileName, $("#id").val());
        };
        reader.readAsDataURL(input.files[0]);
    }

    /**
     * Attachment creation success callback.
     */
    function attachmentCreationSuccess(data) {
        //Add attachment to the list.
        $('#attachments').append($('<div>', { class: "mb-2" }).append($('<i>', { class: "far fa-file" })).append($('<a>', { id: "attachment_link_" + data.id, href: "/api/attachment/raw/" + data.id}).text(" " + data.attachment_name + " ")).append($('<i>', { class: "fa fa-close", onclick: "deleteAttachment(" + data.id + ")"})));
        $('#AttachmentUpload').val('')
    }

    /**
     * Delete Attachment.
     */
    function deleteAttachment(id) {
        ajaxDeleteAttachment(attachmentDeletionSuccess, commonFailure, id);
    }

    /**
     * Attachment deletion success callback.
     */
    function attachmentDeletionSuccess(data) {
        removeAttachment(data.id);
    }
</script>
{% endblock %}