{% extends "base.html" %}

{% block title %} Hits | PTART{% endblock %}

{% block page %}
    
    <div id="page-wrapper">
        <div class="container-fluid">

            {% include "_include/html/messages.html" %}
            
            <!-- Hit creation form -->
            <h3>New Hit &nbsp;<button class="btn btn-sm btn-outline-danger" onclick="document.location = document.referrer"><i class="fa fa-undo"></i> Go Back</button></h3>
            <div class="row">
                <div class="col-lg-7">
                    {% if not assessments %}
                        <b>No assessment found. <a href="/assessments/new/">Create one</a></b>
                    {% else %} 
                            <div class="form-group">
                                <label for="template">Template</label>
                                <select id="template" class="form-control">
                                    <option value="">---- Choose from a template ----</option>
                                    {% for template in templates %}
                                        <option value="{{ template.id }}">{{ template.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Severity</label>
                                <select class="form-control" id="severity">
                                    {% for sev in severities %}
                                        <option value={{sev}}> P{{sev}} </option>
                                    {% endfor %}     
                                </select>
                            </div>
                            <div class="form-group">
                                <label>CVSS v3</label>
                                <h5><span id="cvssValue" class="cvss-badge cvss-badge-secondary">No Rating (---)</span></h5>
                                <input id="cvss cvss-badge cvss-badge-secondary" type="hidden" value="---"/> 
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" id="title" autocomplete="off" placeholder="Hit title (ex: SSRF on login page, etc...)"/>
                            </div>
                            <div class="form-group">
                                <label>Asset</label>
                                <input class="form-control" id="asset" autocomplete="off" placeholder="http://www.exemple.com/index.php" />
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea class="form-control" rows="10" id="body" style="resize:vertical"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Labels</label> 
                                <select class="js-states form-control" id="labels" multiple="multiple">
                                    {% for label in labels %}
                                        <option value="{{ label.id }}">{{ label.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="assessment">Assessment</label>
                                <select id="assessment" class="form-control">
                                    {% for assessment in assessments %}
                                        <option value="{{ assessment.id }}">{{ assessment.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button id="createBtn" class="btn btn-outline-primary mb-4">Submit</button>
                    {% endif %}
                </div>
                <div class="col-lg-5">
                    {% if assessments %}
                        {% include "_include/html/cvss.html" %}
                        {% include "_include/html/screenshots.html" %}
                    {% endif %}
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}
{% block extra_foot %}
<script type="text/javascript">

    var mdBody = activeMarkdown("body");

    var colorMap = new Map();
    {% for label in labels %}
        colorMap.set("{{ label.id }}","{{ label.color }}");
    {% endfor %}
    
    $('#labels').select2({
        templateSelection: function (data, container) {
            var color = colorMap.get(data.id);
            $(container).css("background-color", color);
            $(container).css("color", "white");
            return data.text;
        }
    });

    var screenshotsToUpload = 0;
    var screenshotsUploaded = 0;

    $('#template').change(function() {
        var template_id = $(this).val();
        if(template_id == "") {
            $('#title').val("");
            $('#asset').val("");
            mdBody.value("");
        }
        else {
            ajaxGetTemplate(templateGetSuccess,commonFailure,template_id);
        }
    });

    /**
     * Template get success callback.
     */
    function templateGetSuccess(data) {
        $('#severity option[value="' + data.severity + '"').attr('selected','selected');
        $('#title').val(data.name);
        $('#asset').val(data.asset);
        mdBody.value(data.body);
    }

    /**
     * Hit creation success callback.
     */
     function hitCreationSuccess(data) {
        //Assign CVSS.
        addCVSSv3ToHit(data.id);

        //Upload screenshots.
        screenshotsToUpload = $('.screenshot_gallery').length;
        if(screenshotsToUpload == 0){
            checkUploadBatchStatus()
        } else {
            $('.screenshot_gallery').each(function () {
                ajaxUploadScreenshot(screenshotCreationSuccess, screenshotCreationFailure, $(this).attr("src"), data.id);
            });
        }
        success($("#messages"), "Hit was created!");
    }

    /**
     * Hit creation failure callback.
     */
     function hitCreationFailure(data) {
        if(data.status === 403){
            error($("#messages"), "Error 403 : Not Authorized");
        } else {
            errorList($("#messages"), data.responseJSON);
        }
        waitingDialog.hide();
    }

    /**
     * Screenshot creation success callback.
     */
    function screenshotCreationSuccess(data) {
        success($("#messages"), "Screenshot uploaded!");
        ++screenshotsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Screenshot creation failure callback.
     */
     function screenshotCreationFailure(data) {
        errorList($("#messages"), data.responseJSON);
        ++screenshotsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Check if all images has been uploaded.
     */ 
    function checkUploadBatchStatus() {
        if(screenshotsUploaded == screenshotsToUpload){
            $("#title").val("");
            $("#asset").val("");
            mdBody.value("");
            clearCVSS();
            $("#screenshots").empty();
            $('#labels').val(null).trigger('change');
            screenshotsToUpload = 0;
            screenshotsUploaded = 0;
            waitingDialog.hide();
        }
    }

    /**
     * Create hit.
     */
    $('#createBtn').on('click', function () {
        waitingDialog.show();
        setTimeout(createHit,500);
    });

    function createHit(){
        cleanMessagesContainer($("#messages"));
        ajaxCreateHit(hitCreationSuccess, hitCreationFailure, $("#severity").val(), $("#title").val(), $("#asset").val(), $("#body").val(), $("#labels").select2("val"), $("#assessment").val());
    }
</script>
{% endblock %}