{% extends "base.html" %}
{% block title %} Methodology | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='Methodology' sub_icon='fa fa-cubes' sub_url='/methodologies/' sub_text='Methodologies' active_icon='' active_text=methodology.name %}
        {% include "_include/html/messages.html" %}
        
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" value="{{ methodology.name }}"
                        autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="10" id="description" style="resize:vertical">{{ methodology.description}}</textarea>
                </div>

                <input type="hidden" value="{{ methodology.id }}" id="id" />
                <button id="updateBtn" class="btn btn-outline-primary mb-4">Update</button>
                <button id="delBtn" class="btn btn-outline-danger mb-4">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/updateItem.html' with item='Methodology' ajax_function='ajaxUpdateMethodology' params='id,name,description' %}
    {% include '_include/js/deleteItem.html' with item='Methodology' ajax_function='ajaxDeleteMethodology' %}
{% endblock %}