{% extends "base.html" %}
{% block title %} Methodology | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' active_icon='fa fa-file-text' active_text='Methodologies' %}
        {% include "_include/html/messages.html" %}

        <!-- Methodology creation form -->
        <div class="row">
            <div class="col-lg-12">
                <h3>New Methodology</h3>
                <div class="form-group">
                    <label>Name</label>
                    <input id="name" class="form-control" autocomplete="off" placeholder="Methodology name (ex: OWASP, etc...)" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea id="description" class="form-control" rows="10" style="resize:vertical"></textarea>
                </div>
                <button id="createBtn" type="submit" class="btn btn-outline-primary mb-4">Submit</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/createItem.html' with item='Methodology' ajax_function='ajaxCreateMethodology' params='name,description' params_to_clean='name,description' %}
    <script>
        activeMarkdown("description");
    </script>
{% endblock %}
