{% extends "base.html" %}
{% block title %} List Flags | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        {% include '_include/html/header.html' with item='Flag' create_item_url='/app/flags/new' create_item_button_text='Create Flag' active_icon='fa fa-flag' active_text='Flag' %}
        {% include "_include/html/messages.html" %}
        {% include '_include/html/list.html' with table=table list_icon='fa fa-flag' list_text='All Flags' create_item_url='/app/flags/new' create_item_text='Add a flag' %}
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/deleteItem.html' with item='flag' items='flag/s' ajax_function='ajaxDeleteFlag' %}
{% endblock %}