{% extends "base.html" %}

{% block title %} Project | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ project.name }}

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#scopeModal">
                        Scope
                    </button>

                    {% if editable == True %}
                    <a class="btn btn-warning" href="/assessments/new" role="button">Create Assessment</a>

                    {% if project.assessment_set.all|length > 0 %}
                        <a class="btn btn-success" href="/flags/new" role="button">Create Flag!</a>
                    {% endif %}

                    {% if project.assessment_set.all|length > 0 %}
                        <a class="btn btn-danger" href="/sh0ts/new" role="button">Create Sh0t!</a>
                    {% endif %}

                    <a class="btn btn-primary pull-right" href="/project/{{project.id}}" role="button">
                        Edit This Project
                    </a>
                    {% else %}
                    <a class="btn btn-primary pull-right" href="/project/{{project.id}}" role="button">
                        View This Project
                    </a>
                    {% endif %}
                </h1>
            </div>
        </div>

        <!-- Scope modal -->
        <div class="modal fade" id="scopeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Scope</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="10" style="resize:vertical" style="resize:vertical">{{ project.scope }}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Assesments summary table-->
        <div class="row">
            <div class="col-lg-12">
                {% if project.assessment_set.all|length == 0 %}
                    <b>No assessment found. <a href="/assessments/new/">Create one</a></b>
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-cube"></i> Assessments</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col"><span class="bc-badge bc-badge--p1">P1</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p2">P2</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p3">P3</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p4">P4</span></th>
                                        <th scope="col"><span class="bc-badge bc-badge--p5">P5</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for assessment in project.assessment_set.all %}
                                    <tr>
                                        <td><a href="#{{assessment.name}}">{{assessment.name}}</a></td>
                                        <td>{{assessment.p1_sh0ts|length}}</td>
                                        <td>{{assessment.p2_sh0ts|length}}</td>
                                        <td>{{assessment.p3_sh0ts|length}}</td>
                                        <td>{{assessment.p4_sh0ts|length}}</td>
                                        <td>{{assessment.p5_sh0ts|length}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        <!-- Assesments summary table-->
        {% for assessment in project.assessment_set.all %}
            {% if assessment.sh0t_set.all or assessment.open_flags.all  %}
            <div id="{{assessment.name}}" class="row">
                <div class="col-lg-12">
                    <h2>{{assessment.name}}</h2>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3>Sh0ts!</h3>
                                    <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            {% for sh0t in assessment.sh0t_set.all %}
                                                <tr>
                                                    <td class="col-xs-1">
                                                        <span class="bc-badge bc-badge--p{{ sh0t.severity }}">
                                                            P{{ sh0t.severity }}
                                                        </span>
                                                    </td>
                                                    <td class="col-xs-1">
                                                            <span class="cvss label label-default">
                                                                {{ sh0t.get_cvss_value }}
                                                            </span>
                                                    </td>
                                                    <td class="col-xs-10">
                                                        <a href="/sh0t/{{ sh0t.id }}/">{{ sh0t.title }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-5">
                                    <h3>Open Flags</h3>
                                    <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            {% for flag in assessment.open_flags.all %}
                                                <tr>
                                                    <td class="col-xs-11">
                                                        <a href="/flag/{{ flag.id }}/">{{ flag.title }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% if project.assessment_set.all|length != 0 %}
        <a class="btn btn-success pull-right" href="/project/{{project.id}}/report" target="_blank" role="button">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Generate HTML report.
        </a>
        {% endif %}
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}