{% extends "base.html" %}

{% block title %} My ToDo | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    {% if projects %}
        {% for project in projects %}
            <div class="container-fluid mb-4">
                <h2>
                    <i class="fa fa-cubes"></i> {{project.name}}</i>
                </h2>

                {% for assessment in project.assessments %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-cube"></i> {{assessment.name}}</h4>
                        </div>

                        <div class="panel-body">
                            <table class="table table-bordered table-hover table-striped">
                                <tbody>
                                    {% for flag in assessment.flags %}
                                        <tr id="{{ flag.id }}">
                                            <td class="col-xs-1">
                                                <button class="btn btn-xs btn-success" onclick="markAsDone({{ flag.id }})"><i class="fa fa-check"></i> Check!</button>
                                            </td>

                                            <td class="col-xs-11">
                                                <a href="/flag/{{ flag.id }}/">{{ flag.title }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="container-fluid mb-4">
            <h3>You're a lucky man with an empty ToDo list!!</h3>
            <img src="/static/img/oklm.gif"/>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">

    function actionSuccess(data) {
        $("#"+ data.id).remove();
    }

    function actionFailure(data) {
        bootbox.alert("Error during operation!")
    }

    function markAsDone(id) {
        ajaxMarkFlagAsDone(actionSuccess, actionFailure, id);
    }
</script>
{% endblock %}
