{% extends "base.html" %}

{% block title %} Hits | PTART{% endblock %}

{% block page %}

<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with active_icon='fa fa-bullseye' active_text='Hits' %}
        {% include "_include/html/messages.html" %}

        <!-- Hit creation form -->
        <h3>New Hit &nbsp;<button class="btn btn-sm btn-outline-danger"
                onclick="document.location = document.referrer"><i class="fa fa-undo"></i> Go Back</button></h3>
        <div class="row">
            <div class="col-lg-7">
                {% if not assessments %}
                <b>No assessment found. <a href="/assessments/new/">Create one</a></b>
                {% else %}
                <div class="form-group">
                    <label for="template">Template</label>
                    <select id="template" class="form-control">
                        <option value="">---- Choose from a template ----</option>
                        {% for template in templates %}
                        <option value="{{ template.id }}">{{ template.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Severity</label>
                    <select class="form-control" id="severity">
                        {% for sev in severities %}
                        <option value={{sev}}> P{{sev}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>CVSS v{{cvss_type}}</label>
                    <h5><span id="cvss{{cvss_type}}Value" class="cvss{{cvss_type}}-badge cvss{{cvss_type}}-badge-secondary">No Rating (---)</span></h5>
                    <input id="cvss{{cvss_type}}" class="cvss{{cvss_type}}-badge cvss{{cvss_type}}-badge-secondary" type="hidden" value="---" />
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" id="title" autocomplete="off"
                        placeholder="Hit title (ex: SSRF on login page, etc...)" />
                </div>
                <div class="form-group">
                    <label>Asset</label>
                    <input class="form-control" id="asset" autocomplete="off"
                        placeholder="http://www.exemple.com/index.php" />
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" rows="10" id="body" style="resize:vertical"></textarea>
                </div>
                <div class="form-group">
                    <label>Remediation</label>
                    <textarea class="form-control" rows="10" id="remediation" style="resize:vertical"></textarea>
                </div>
                <div class="form-group">
                    <label>Fix complexity</label>
                    <select class="form-control" id="fix_complexity">
                        <option value=0> N/D </option>
                        <option value=1> Hard </option>
                        <option value=2> Moderate </option>
                        <option value=3> Easy </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Labels</label>
                    <select class="js-states form-control" id="labels" multiple="multiple">
                        {% for label in labels %}
                        <option value="{{ label.id }}">{{ label.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>CWE(s)</label>
                    <select class="js-states form-control" id="cwes" multiple="multiple">
                        {% for cwe in cwes %}
                        <option value="{{ cwe.id }}">{{ cwe }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="assessment">Assessment</label>
                    <select id="assessment" class="form-control">
                        {% for assessment in assessments %}
                        <option value="{{ assessment.id }}">{{ assessment.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="createBtn" class="btn btn-outline-primary mb-4">Submit</button>

                <button onclick="createTemplateBtnClick(false)" class="btn btn-outline-success mb-4">Save as New Template</button>
                {% if user.is_staff %}
                    <button onclick="createTemplateBtnClick(true)" class="btn btn-outline-success mb-4">Save as New Common Template</button>
                {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-5">
                {% if assessments %}

                {% if cvss_type == 3 %}
                {% include "_include/html/cvss3.html" %}
                {% else %}
                {% include "_include/html/cvss4.html" %}
                {% endif %}

                <!-- Reference Area -->
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <h4>References</h4>
                            </div>
                        </div>

                        <div id="references">
                        </div>

                    <button type="button" class="btn btn-outline-info mb-4" data-toggle="modal" data-target="#addReferenceModal">Add a reference</button>

                    <!-- Add a hit reference modal -->
                    <div class="modal fade" id="addReferenceModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add a reference</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input id="newReferenceName" class="form-control" autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label>Url</label>
                                        <input id="newReferenceUrl" class="form-control" placeholder="Only http/https url"  autocomplete="off" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="addReferenceBtn" type="submit" class="btn btn-outline-primary" onclick="addReference()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% include "_include/html/attachments.html" %}
                {% include "_include/html/screenshots.html" %}
                {% endif %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
{% block extra_foot %}
<script type="text/javascript">

    var mdBody = activeMarkdown("body");
    var mdRemediation = activeMarkdown("remediation");

    var colorMap = new Map();
    {% for label in labels %}
    colorMap.set("{{ label.id }}", "{{ label.color }}");
    {% endfor %}

    $('#labels').select2({
        templateSelection: function (data, container) {
            var color = colorMap.get(data.id);
            $(container).css("background-color", color);
            $(container).css("color", "white");
            return data.text;
        }
    });

    $('#cwes').select2();

    var screenshotsToUpload = 0;
    var screenshotsUploaded = 0;
    var attachmentsToUpload = 0;
    var attachmentsUploaded = 0;
    var referencesToCreate = 0;
    var referencesCreated = 0;
    var hitId = 1;
    var screenshotIdsMap = new Map();

    $('#template').change(function () {
        var template_id = $(this).val();
        if (template_id == "") {
            $('#title').val("");
            $('#asset').val("");
            mdBody.value("");
            mdRemediation.value("");
        }
        else {
            ajaxGetTemplate(templateGetSuccess, commonFailure, template_id);
        }
    });

    /**
     * Template get success callback.
     */
    function templateGetSuccess(data) {
        $('#severity option[value="' + data.severity + '"').attr('selected', 'selected');
        $('#title').val(data.name);
        $('#asset').val(data.asset);
        mdBody.value(data.body);
        mdRemediation.value(data.remediation);
    }

    /**
     * Hit creation success callback.
     */
    function hitCreationSuccess(data) {
        hitId = data.id;

        //Upload screenshots and attachment
        screenshotsToUpload = $('.screenshot_gallery').length;
        attachmentsToUpload = $('.attachment_gallery').length;
        referencesToCreate  = $('.references').length;

        if (screenshotsToUpload == 0 && attachmentsToUpload == 0 && referencesToCreate == 0) {
            checkUploadBatchStatus()
        } else {
            var screenshots = $('.screenshot').detach().toArray().sort(function(a, b) {
                    return parseInt($(a).attr('data-screenshot-order'), 10) - parseInt($(b).attr('data-screenshot-order'),10);
                });
            screenshots.forEach(function (screenshot) {
                ajaxUploadScreenshot(function(response) {
                    screenshotCreationSuccess(response, screenshot);
                }, screenshotCreationFailure, $(screenshot).children().first().attr("src"), $(screenshot).children().first().attr("caption"), data.id);
                sleep(1000); //THis sleep is required for the server to process the screenshot (LockDB issue)
            });

            $($('.attachment_gallery').get().reverse()).each(function () {
                ajaxUploadAttachment(attachmentCreationSuccess, attachmentCreationFailure, $(this).attr("href"), $(this).attr("filename"), data.id);
            });

            $($('.references').get().reverse()).each(function () {
                ajaxCreateHitReference(referenceCreationSuccess, referenceCreationFailure, $(this).attr("name"), $(this).attr("url"), data.id);
            });

        }
        success($("#messages"), "Hit was created!");
    }

    /**
     * Sleep function.
     */
    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
            break;
            }
        }
    }

    /**
     * Hit creation failure callback.
     */
    function hitCreationFailure(data) {
        if (data.status === 403) {
            error($("#messages"), "Error 403 : Not Authorized");
        } else {
            errorList($("#messages"), data.responseJSON);
        }
        waitingDialog.hide();
    }

    /**
     * Screenshot creation success callback.
     */
    function screenshotCreationSuccess(data, screenshot) {
        success($("#messages"), "Screenshot uploaded!");
        screenshotIdsMap.set($(screenshot).children().first().attr("id").replace("screenshot_",""), data.id);
        ++screenshotsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Screenshot creation failure callback.
     */
    function screenshotCreationFailure(data) {
        errorList($("#messages"), data.responseJSON);
        ++screenshotsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Attachment creation success callback.
     */
    function attachmentCreationSuccess(data) {
        success($("#messages"), "Attachment uploaded!");
        ++attachmentsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Attachment creation failure callback.
     */
    function attachmentCreationFailure(data) {
        errorList($("#messages"), data.responseJSON);
        ++attachmentsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Reference creation success callback.
     */
     function referenceCreationSuccess(data) {
        success($("#messages"), "Reference created!");
        ++referencesCreated
        checkUploadBatchStatus();
    }

    /**
     * Attachment creation failure callback.
     */
    function referenceCreationFailure(data) {
        error($("#messages"), "Reference was not created!");
        ++referencesCreated
        checkUploadBatchStatus();
    }

    /**
     * Check if all images & attachments has been uploaded.
     */
    function checkUploadBatchStatus() {
        if (screenshotsUploaded == screenshotsToUpload && attachmentsUploaded == attachmentsToUpload && referencesCreated == referencesToCreate) {
            screenshotIdsMap.forEach((value, key) => {
                //Replace id of uploaded screenshot in the body and remediation.
                mdBody.value(mdBody.value().replaceAll(convertIdToMarkdown(String(key)), convertIdToMarkdown(String(value))));
                mdRemediation.value(mdRemediation.value().replaceAll(convertIdToMarkdown(String(key)), convertIdToMarkdown(String(value))));
            });
            //Update hit with new body and remediation.
            ajaxUpdateHit(assignCVSSSuccess, commonFailure, hitId, $("#severity").val(), $("#title").val(), $("#asset").val(), $("#body").val(), $("#remediation").val(), 'D', $("#fix_complexity").val(), $("#labels").select2("val"), $("#cwes").select2("val"), $("#assessment").val());
        }
    }

    /**
     * CVSS assignment success callback.
     */
    function assignCVSSSuccess(data) {
        //Assign CVSS.
        {% if cvss_type == 3 %}
        addCVSSv31ToHit(hitId);
        {% else %}
        addCVSSv4ToHit(hitId);
        {% endif %}

        cleanFields();
    }

    /**
     * Clean all fields.
     */
    function cleanFields(data){
        hitId = -1;
        $("#title").val("");
        $("#asset").val("");
        mdBody.value("");
        mdRemediation.value("");

        {% if cvss_type == 3 %}
        clearCVSS3();
        {% else %}
        clearCVSS4();
        {% endif %}
        
        $("#screenshots").empty();
        $("#attachments").empty();
        $("#references").empty();
        $('#labels').val(null).trigger('change');
        $('#cwes').val(null).trigger('change');
        screenshotsToUpload = 0;
        screenshotsUploaded = 0;
        attachmentsToUpload = 0;
        attachmentsUploaded = 0;
        referencesToCreate = 0;
        referencesCreated = 0;
        waitingDialog.hide();
    }

    /**
     * Reference creation success callback.
     */
     function addReference() {
        $('#references').append(
            $('<div>', {
                id: "reference_" + referencesToCreate,
                class: "references",
                name: $("#newReferenceName").val(),
                url: $("#newReferenceUrl").val()
            }).append("<p><a class='fa fa-close' style='color:red' href='javascript:deleteReference(" + referencesToCreate + ")'></a>&nbsp;<b>" + $("<div>").text($("#newReferenceName").val()).html() + "</b> : <a href='" + $("<div>").text($("#newReferenceUrl").val()).html() +"'>" + $("<div>").text($("#newReferenceUrl").val()).html() +"</a></p></div>"));
        $("#addReferenceModal").modal('toggle');
        referencesToCreate++;
        $("#newReferenceName").val("");
        $("#newReferenceUrl").val("");
    }

    /**
     * Reference deletion success callback.
     */
     function deleteReference(id) {
        $("#reference_" + id).remove();
    }

    /**
     * Create hit.
     */
    $('#createBtn').on('click', function () {
        waitingDialog.show();
        setTimeout(createHit, 500);
    });

    function createHit() {
        cleanMessagesContainer($("#messages"));
        ajaxCreateHit(hitCreationSuccess, hitCreationFailure, $("#severity").val(), $("#title").val(), $("#asset").val(), $("#body").val(), $("#remediation").val(), 'D', $("#fix_complexity").val(), $("#labels").select2("val"), $("#cwes").select2("val"), $("#assessment").val());
    }

    /**
     * Create Template based on the new hit.
     */
     function createTemplateBtnClick(common) {
        waitingDialog.show();
        setTimeout(function() {
            createNewTemplate(common);
        }, 500);
    };

    /**
     * Template creation success callback.
     */
     function templateCreationSuccess(data) {
        success($("#messages"), "Template was created!");
        waitingDialog.hide();
    }

    /**
     * Template creation failure callback.
     */
    function templateCreationFailure(data) {
        errorList($("#messages"), data.responseJSON);
        waitingDialog.hide();
    }

    /**
     * Function to create a template.
     */
    function createNewTemplate(common){
        cleanMessagesContainer($("#messages"));
        var owner = null;
        if(!common) {
            owner = "{{request.user.id}}";
        }
        ajaxCreateTemplate(templateCreationSuccess, templateCreationFailure, $("#severity").val(), $("#title").val(), $("#asset").val(), $("#body").val(), $("#remediation").val(), owner);
    }


</script>
{% endblock %}
