{% extends "base.html" %}
{% block title %} {{ retestcampaign.name }} | PTART{% endblock %}
{% load addstr %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' sub_icon='fa fa-cubes' sub_url="/project/"|addstr:retestcampaign.project.pk|addstr:"/summary" sub_text=retestcampaign.project active_icon='' third_icon='fa fa-flask' third_url="/retestcampaign/"|addstr:retestcampaign.pk|addstr:"/summary" third_text=retestcampaign.name active_icon='' active_text='Edit' %}
        {% include "_include/html/messages.html" %}

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" value="{{ retestcampaign.name }}" />
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <div class="row g-3">
                        <div class="col-auto">
                            <input class="datepicker form-control" type="text" id="startdate" />
                        </div>
                        <div class="col-auto">
                            To
                        </div>
                        <div class="col-auto">
                            <input class="datepicker form-control" type="text" id="enddate" />
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Hits to assign &nbsp; <button id="selectAllHitBtn" class="btn btn-sm btn-outline-success">Select All</button></label>
                    {% for hit in retestcampaign.get_unassigned_hits %}
                        <div class="form-check">
                            <input class="form-check-input retesthit" type="checkbox" value="" hit_id="{{ hit.id }}" id="unassigne_hit{{ hit.id }}">
                            <label class="form-check-label" for="unassigne_hit{{ hit.id }}">
                                {{ hit.get_unique_id }} - {{ hit.title }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
               
                <div class="form-group">
                    <label>Introduction</label>
                    <textarea class="form-control" rows="5" id="introduction" style="resize:vertical">{{ retestcampaign.introduction }}</textarea>
                </div>
                
                <div class="form-group">
                    <label>Conclusion</label>
                    <textarea class="form-control" rows="5" id="conclusion" style="resize:vertical">{{ retestcampaign.conclusion }}</textarea>
                </div>
                
                <input id="id" type="hidden" value="{{ retestcampaign.id }}" />
                <input id="projectId" type="hidden" value="{{ retestcampaign.project.id }}" />

                {% if editable == True %}
                <button id="updateBtn" class="btn btn-outline-primary mb-3">Update</button>
                <button id="delBtn" class="btn btn-outline-danger mb-3">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
{% include '_include/js/deleteItem.html' with item='RetestCampaign' ajax_function='ajaxDeleteRetestCampaign' redirect="/project/"|addstr:retestcampaign.project.pk|addstr:"/summary" %}
<script>
    activeMarkdown("introduction");
    activeMarkdown("conclusion");

    $('.datepicker').datepicker({});

    {% if retestcampaign.start_date %}
        $('#startdate').datepicker('setDate', new Date('{{retestcampaign.start_date|date:"Y-m-d"}}'));
    {% endif %}
    
    {% if retestcampaign.end_date %}
        $('#enddate').datepicker('setDate', new Date('{{retestcampaign.end_date|date:"Y-m-d"}}'));
    {% endif %}

    function manageDate(val){
        result = null;
        if(val){
            vals = val.split("/");
            result = vals[2] + "-" + vals[0] + "-" + vals[1];
        }
        return result;
    }

    /**
     * Retest Campaign updation success callback.
     */
     function retestCampaignUpdationSuccess(data) {
        success($("#messages"), "Retest Campaign was Updated!");
    }

    /**
     * Hit assignement success callback.
     */
     function hitAssignmentSuccess(data) {
        success($("#messages"), "Hit " + data.hit + " assigned with success!");
        $('[hit_id="' + data.hit + '"]').parent().remove();
    }

    /**
     * Update item.
     */
    $('#updateBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateRetestCampaign(retestCampaignUpdationSuccess, commonFailure, $("#id").val(), $("#name").val(), $("#introduction").val(), $("#conclusion").val(), manageDate($('#startdate').val()), manageDate($('#enddate').val()), $("#projectId").val());
        $('.retesthit').each(function() {
            if($(this).is(':checked')){
                ajaxCreateRetestHit(hitAssignmentSuccess, commonFailure, "", "NT", $(this).attr('hit_id'), "{{ retestcampaign.id }}");
            }
        });
    });

    /**
     * Select all hits.
     */
     $('#selectAllHitBtn').on('click', function () {
        $('.retesthit').prop('checked', true);
    });
</script>
{% endblock %}