{% extends "base.html" %}
{% block title %} Label | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='Label' sub_icon='fa fa-tags' sub_url='/labels/' sub_text='Labels' active_icon='' active_text=label.name %}
        {% include "_include/html/messages.html" %}
        
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" id="title" value="{{ label.title }}" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input class="form-control" id="color" value="{{ label.color }}" autocomplete="off" />
                </div>
                <input type="hidden" value="{{ label.id }}" id="id" />
                <button id="updateBtn" class="btn btn-primary">Update</button>
                <button id="delBtn" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/updateItem.html' with item='Label' ajax_function='ajaxUpdateLabel' params='id,title,color' %}
    {% include '_include/js/deleteItem.html' with item='Label' ajax_function='ajaxDeleteLabel' %}
    <script>
        $('#color').colorpicker({
            "format": "hex",
            "align" : "left"
        });
    </script>
{% endblock %}