{% extends "base.html" %}
{% load addstr %}

{% block title %} Recommendation | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='Recommendation' sub_icon='fa fa-cubes' sub_url="/project/"|addstr:recommendation.project.pk|addstr:"/summary" sub_text=recommendation.project.name third_icon='fa fa-book' third_url='#' third_text='Recommendation' active_icon='' active_text=recommendation.name %}
        {% include "_include/html/messages.html" %}
        
        <!-- Recommendation creation form -->
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" autocomplete="off" value="{{ recommendation.name }}" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" rows="10" id="body" style="resize:vertical">{{ recommendation.body }}</textarea>
                </div>
            </div>
        </div>

        <input type="hidden" value="{{ recommendation.id }}" id="id"/>
        <input type="hidden" value="{{ recommendation.project.id }}" id="projectId"/>
        
        <div class="row">
            <div class="col-lg-12 mb-5">
                <button id="updateBtn" class="btn btn-primary">Update</button>
                <button id="delBtn" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
{% include '_include/js/deleteItem.html' with item='Recommendation' ajax_function='ajaxDeleteRecommendation' %}

<script type="text/javascript">

    activeMarkdown("body");

    /**
     * Item updation success callback.
     */
    function itemUpdationSuccess(data) {
        success($("#messages"), "Recommendation was Updated!");
    }

    /**
     * Update item.
     */
    $('#updateBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateRecommendation(itemUpdationSuccess, commonFailure, $("#id").val(), $("#name").val(), $("#body").val(), $("#projectId").val());
    });

</script>

{% endblock %}