{% extends "base.html" %}
{% block title %} Change password | PTART{% endblock %}


{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' active_icon='fa fa-user' active_text='Change Password' %}
        {% include "_include/html/messages.html" %}

        <!-- Password change section section -->
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Current Password :</label>
                    <input id="oldPassword" class="form-control" autocomplete="off" placeholder="" />
                </div>
                <div class="form-group">
                    <label>New Password :</label>
                    <input id="newPassword" class="form-control" autocomplete="off" placeholder="" />
                </div>
                <button id="changePassword" type="submit" class="btn btn-outline-primary mb-3">Change</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
<script>

    /**
     * Change password.
     */
    $('#changePassword').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxChangePassword(changePasswordSuccess, commonFailure);
    });

    /**
     * Change password success callback.
     */
    function changePasswordSuccess(data) {
        success($("#messages"), "Your password has been updated!");
    }

</script>
{% endblock %}