{% extends "base.html" %}
{% block title %} Revoke token | PTART{% endblock %}


{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' active_icon='fa fa-user' active_text='Account' %}
        {% include "_include/html/messages.html" %}
        
        <!-- Token revocation form -->
        {% if error_message %}
            <div class="alert alert-danger" role="alert">{{ error_message }}</div>
        {% elif success_message %}
            <div class="alert alert-success" role="alert">{{ success_message }}</div>
        {% endif %}

        <div class="row">
            <div class="col-4">
                <form class="form needs-validation" novalidate action="/account/revoke-token/" method="post"> 
                    <h3>Token revocation</h3>
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="validationCustom01">Username</label>
                        <input class="form-control" name="username" autocomplete="off" value="{{ current_username }}" id="validationCustom01" required/>
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="validationCustom02">Password</label>
                        <input class="form-control" type="password" name="password" autocomplete="off" placeholder="Enter your password" id="validationCustom02" required/>
                    </div>
                    <button id="createBtn" type="submit" class="btn btn-outline-primary mb-4">Revoke token</button>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script>
    (function () {
        'use strict'
    
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
    
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
    
            form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

{% endblock %}