{% extends "base.html" %}

{% block title %} Sh0ts | sh00t{% endblock %}

{% block extra_head %}
<link href="/static/css/screenshots.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
    
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sh0ts</h1>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a></li>
                        <li class="active"><i class="fa fa-bullseye"></i> Sh0ts</li>
                    </ol>
                </div>
            </div>

            {% include "_include/messages-container.html" %}

            <!-- Sh0t creation form -->
            <div class="row">
                <div class="col-lg-8">
                    <h3>New Sh0t</h3>
                    {% if not assessments_list %}
                        <b>No assessment found. <a href="/app/assessments/new/">Create one</a></b>
                    {% else %} 
                            <div class="form-group">
                                <label for="template">Template</label>
                                <select id="template" class="form-control">
                                    <option value="">---- Choose from a template ----</option>
                                    {% for template in templates %}
                                        <option value="{{ template.id }}">{{ template.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                    <label>Severity</label>
                                    <select class="form-control" id="severity">
                                            {% for sev in severities %}
                                                <option value={{sev}}> P{{sev}} </option>
                                            {% endfor %}     
                                    </select>
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" id="title" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea class="form-control" rows="10" id="body"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="assessment">Assessment</label>
                                <select id="assessment" class="form-control">
                                    {% for assessment in assessments_list %}
                                        <option value="{{ assessment.id }}">{{ assessment.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button id="createBtn" class="btn btn-primary">Submit</button>
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    {% if assessments_list %}
                        {% include "_include/screenshots-container.html" %}
                    {% endif %}
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}
{% block extra_foot %}
<script src="/static/sb-admin/js/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="/static/js/screenshots.js"></script>
<script type="text/javascript">

    $('#template').change(function() {
        var template_id = $(this).val();
        if(template_id == "") {
            $('#title').val("");
            $('#body').val("");
        }
        else {
            $.ajax({
                url: "/api/template/" + template_id,
                success: function (data) {
                    $('#severity option[value="' + data.severity + '"').attr('selected','selected');
                    $('#title').val(data.name);
                    $('#body').val(data.body);
                },
                error: function (data) {
                    alert("Unexpected error in getting template details. Data: " + data);
                }
            })
        }
    });

    /**
     * Sh0t creation success callback.
     */
     function sh0tCreationSuccess(data) {
        //$('.module:checked').each(function () {
        //    ajaxLoadFlagsFromModule(function (data) { }, function (data) { }, $(this).val(), data.id);
        //});
        $("#title").val("");
        $("#body").val("");
        success($("#messages"), "Sh0t was created!");
    }

    /**
     * Sh0t creation failure callback.
     */
    function sh0tCreationFailure(data) {
        errorList($("#messages"), data.responseJSON);
    }

    /**
     * Create sh0t.
     */
    $('#createBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxCreateSh0t(sh0tCreationSuccess, sh0tCreationFailure, $("#severity").val(), $("#title").val(), $("#body").val(), $("#assessment").val());
    });
</script>
{% endblock %}