{% extends "base.html" %}

{% block title %} Sh0ts | sh00t{% endblock %}

{% block extra_head %}
<link href="/static/css/screenshots.css" rel="stylesheet" type="text/css">
<link href="/static/sb-admin/css/plugins/fancybox/jquery.fancybox.min.css"" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
    
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sh0ts</h1>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a></li>
                        <li class="active"><i class="fa fa-bullseye"></i> Sh0ts</li>
                    </ol>
                </div>
            </div>

            {% include "_include/messages-container.html" %}

            <!-- Sh0t creation form -->
            <div class="row">
                <div class="col-lg-8">
                    <h3>New Sh0t</h3>
                    {% if not assessments_list %}
                        <b>No assessment found. <a href="/app/assessments/new/">Create one</a></b>
                    {% else %} 
                            <div class="form-group">
                                <label for="template">Template</label>
                                <select id="template" class="form-control">
                                    <option value="">---- Choose from a template ----</option>
                                    {% for template in templates %}
                                        <option value="{{ template.id }}">{{ template.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                    <label>Severity</label>
                                    <select class="form-control" id="severity">
                                            {% for sev in severities %}
                                                <option value={{sev}}> P{{sev}} </option>
                                            {% endfor %}     
                                    </select>
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" id="title" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Body</label>
                                <textarea class="form-control" rows="10" id="body"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="assessment">Assessment</label>
                                <select id="assessment" class="form-control">
                                    {% for assessment in assessments_list %}
                                        <option value="{{ assessment.id }}">{{ assessment.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button id="createBtn" class="btn btn-primary">Submit</button>
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    {% if assessments_list %}
                        {% include "_include/screenshots-container.html" %}
                    {% endif %}
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}
{% block extra_foot %}
<script src="/static/sb-admin/js/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="/static/js/screenshots.js"></script>
<script type="text/javascript">

    var screenshotsToUpload = 0;
    var screenshotsUploaded = 0;

    $('#template').change(function() {
        var template_id = $(this).val();
        if(template_id == "") {
            $('#title').val("");
            $('#body').val("");
        }
        else {
            ajaxGetTemplate(templateGetSuccess,commonFailure,template_id);
        }
    });

    /**
     * Template get success callback.
     */
    function templateGetSuccess(data) {
        $('#severity option[value="' + data.severity + '"').attr('selected','selected');
        $('#title').val(data.name);
        $('#body').val(data.body);
    }

    /**
     * Sh0t creation success callback.
     */
     function sh0tCreationSuccess(data) {
        //Upload screenshots.
        screenshotsToUpload = $('.screenshot_gallery').size();
        if(screenshotsToUpload == 0){
            checkUploadBatchStatus()
        } else {
            $('.screenshot_gallery').each(function () {
                ajaxUploadScreenshot(screenshotCreationSuccess, screenshotCreationFailure, $(this).attr("src"), data.id);
            });
        }
        success($("#messages"), "Sh0t was created!");
    }

    /**
     * Screenshot creation success callback.
     */
    function screenshotCreationSuccess(data) {
        success($("#messages"), "Screenshot uploaded!");
        ++screenshotsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Screenshot creation failure callback.
     */
     function screenshotCreationFailure(data) {
        errorList($("#messages"), data.responseJSON);
        ++screenshotsUploaded
        checkUploadBatchStatus();
    }

    /**
     * Check if all images has been uploaded.
     */ 
    function checkUploadBatchStatus() {
        if(screenshotsUploaded == screenshotsToUpload){
            $("#title").val("");
            $("#body").val("");
            $("#screenshots").empty();
            screenshotsToUpload = 0;
            screenshotsUploaded = 0;
            waitingDialog.hide();
        }
    }

    /**
     * Create sh0t.
     */
    $('#createBtn').on('click', function () {
        waitingDialog.show();
        cleanMessagesContainer($("#messages"));
        ajaxCreateSh0t(sh0tCreationSuccess, commonFailure, $("#severity").val(), $("#title").val(), $("#body").val(), $("#assessment").val());
    });
</script>
{% endblock %}