.screenshot_data {
    margin-bottom: 5px;
    width: 100%
}

.mover {
    height: 50px;
    margin-bottom: 5px;
    border-radius: 8px; 
    border: 3px dashed #000; 
    text-align: center;
    align-items: center; 
    justify-content: center;
}