{% extends "base.html" %}
{% block title %} List Tools | PTART{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        {% include '_include/html/header.html' with item='Tools' create_item_url='/tools/new' create_item_button_text='Create Tool' create_item_button_class='primary' active_icon='fa fa-wrench' active_text='Tools' %}
        {% include "_include/html/messages.html" %}
        {% include '_include/html/list.html' with table=table %}
    </div>
</div>
{% endblock %}

{% block extra_foot %}
    {% include '_include/js/deleteItems.html' with item='tool' items='tool/s' ajax_function='ajaxDeleteTool' %}
{% endblock %}
