{% extends "base.html" %}
{% block title %} Templates | sh00t{% endblock %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Templates</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
                    <li class="active"><i class="fa fa-file-text"></i> Templates</li>
                </ol>
            </div>
        </div>

        {% include "_include/html/messages.html" %}

        <!-- Templates creation form -->
        <div class="row">
            <div class="col-lg-12">
                <h3>New Template</h3>
                <div class="form-group">
                    <label>Severity</label>
                    <select class="form-control" id="severity">
                        {% for sev in severities %}
                            <option value={{sev}}> P{{sev}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" rows="10" id="body"></textarea>
                </div>
                <button id="createBtn" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">

    /**
     * Template creation success callback.
     */
     function templateCreationSuccess(data) {
        $("#name").val("");
        $("#body").val("");
        success($("#messages"), "Template was created!");
    }

    /**
     * Create template.
     */
    $('#createBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxCreateTemplate(templateCreationSuccess, commonFailure, $("#severity").val(), $("#name").val(), $("#body").val());
    });
</script>
{% endblock %}