{% extends "base.html" %}
{% load addstr %}

{% block title %} Project | PTART{% endblock %}

{% block page %}


<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='' sub_icon='fa fa-cubes' sub_url="/project/"|addstr:project.pk|addstr:"/summary" sub_text=project third_icon='fa fa-cube'%}
        {% include "_include/html/messages.html" %}

        <!-- Page Heading -->
        <div class="row mb-4">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ project.name }}

                    {% if editable == True %}
                    <a class="btn btn-outline-danger" href="#" role="button" data-toggle="modal"
                        data-target="#newHostModal">New Host</a>
                    {% endif %}
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12" id="hostParent">


                {% for host in project.host_set.all %}
                <div class="card" id="host_{{host.id}}">
                    <div class="card-header">
                        <h3 class="mb-0">
                            <span id="host{{host.id}}Header" onclick="displayHostModal('{{host.id}}')"
                                style="cursor: pointer">
                                {{ host.hostname }} - {{ host.ip}}
                            </span>
                            <button class="btn btn-outline-danger float-right ml-2" onclick="deleteHost('{{host.id}}')" >
                                Delete Host
                            </button>
                            <button class="btn btn-outline-success float-right">
                                Add Service
                            </button>
                        </h3>
                        <input type="hidden" id="host{{host.id}}IP" value="{{host.ip}}" />
                        <input type="hidden" id="host{{host.id}}Hostname" value="{{host.hostname}}" />
                        <input type="hidden" id="host{{host.id}}OS" value="{{host.os}}" />
                        <input type="hidden" id="host{{host.id}}Notes" value="{{host.notes}}" />
                    </div>

                    <div class="card-body">

                        <div class="row">
                            {% for service in host.service_set.all %}
                            <div class="col-lg-4">
                                <div class="card mb-2" style="cursor: pointer">
                                    <div class="card-body" data-toggle="modal"
                                        data-target="#service{{service.id}}Modal">
                                        <h5 class="card-title">{{service.name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{service.port}}-{{service.protocol}} ({{service.version}})</h6>
                                    </div>
                                </div>


                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<!-- Host Modal-->
<div class="modal fade" id="hostModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Host Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="hostIP">IP</label>
                        <input type="text" class="form-control" id="hostIP" value="" />
                    </div>
                    <div class="form-group">
                        <label for="hostHostname">Hostname</label>
                        <input type="text" class="form-control" id="hostHostname" value="" />
                    </div>
                    <div class="form-group">
                        <label for="hostOS">OS</label>
                        <input type="text" class="form-control" id="hostOS" value="" />
                    </div>
                    <div class="form-group">
                        <label for="hostNotes">Notes</label>
                        <textarea class="form-control" id="hostNotes" rows="7"></textarea>
                    </div>
                    <input type="hidden" id="hostId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success" onclick="javacript:updateHost()">Save</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- New Host Modal-->
<div class="modal fade" id="newHostModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Host</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="newHostIP">IP</label>
                        <input type="text" class="form-control" id="newHostIP" value="" />
                    </div>
                    <div class="form-group">
                        <label for="newHostHostname">Hostname</label>
                        <input type="text" class="form-control" id="newHostHostname" value="" />
                    </div>
                    <div class="form-group">
                        <label for="newHostOS">OS</label>
                        <input type="text" class="form-control" id="newHostOS" value="" />
                    </div>
                    <div class="form-group">
                        <label for="newHostNotes">Notes</label>
                        <textarea class="form-control" id="newHostNotes" rows="7"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success" onclick="javacript:createHost()">Create</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Service Modal-->
<div class="modal fade" id="service{{service.id}}Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Service Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">


    hostNotesSimpleMDE = activeMarkdown("hostNotes");
    newHostNotesSimpleMDE = activeMarkdown("newHostNotes");

    /**
     * Host creation success callback.
     */
    function HostCreationSuccess(data) {
        success($("#messages"), "Host was Created");
        //Create host according to the result.
        var card = $('<div>', { id: "host_" + data.id, class: "card" });
        var cardHeader = $('<div>', { class: "card-header" });
        var cardTitle = $('<h3>', { class: "mb-0" });
        var cardTitleSpan = $('<span>', {
            id: "host" + data.id + "Header",
            onclick: "displayHostModal('" + data.id + "')",
            style: "cursor: pointer"
        });
        cardTitleSpan.text(data.hostname + " - " + data.ip);
        
        var cardTitleDeleteHostButton = $('<button>', {
            class: "btn btn-outline-danger float-right ml-2",
            onclick: "deleteHost('" + data.id + "')"
        });
        cardTitleDeleteHostButton.text("Delete Host");

        var cardTitleAddServiceButton = $('<button>', {
            class: "btn btn-outline-success float-right"
        });
        cardTitleAddServiceButton.text("Add Service");

        var ipInput = $('<input>', {
            type: "hidden",
            id: "host" + data.id + "IP",
            value: data.ip
        });
        var hostnameInput = $('<input>', {
            type: "hidden",
            id: "host" + data.id + "Hostname",
            value: data.hostname
        });
        var osInput = $('<input>', {
            type: "hidden",
            id: "host" + data.id + "OS",
            value: data.os
        });
        var notesInput = $('<input>', {
            type: "hidden",
            id: "host" + data.id + "Notes",
            value: data.notes
        });
        var cardBody = $('<div>', { class: "card-body" });
        var cardBodyRow = $('<div>', { class: "row" });

        //Append everything!!
        cardTitle.append(cardTitleSpan);
        cardTitle.append(cardTitleDeleteHostButton);
        cardTitle.append(cardTitleAddServiceButton);
        cardHeader.append(cardTitle);
        cardHeader.append(ipInput);
        cardHeader.append(hostnameInput);
        cardHeader.append(osInput);
        cardHeader.append(notesInput);
        cardBody.append(cardBodyRow);
        card.append(cardHeader);
        card.append(cardBody);
        $("#hostParent").append(card);

        $("#newHostModal").modal('toggle');
        $("#newHostIP").val();
        $("#newHostHostname").val();
        $("#newHostOS").val();
        newHostNotesSimpleMDE.value();
    }

    /**
     * Create host function.
     */
    function createHost() {
        cleanMessagesContainer($("#messages"));
        ajaxCreateHost(HostCreationSuccess, commonFailure, $("#newHostIP").val(), $("#newHostHostname").val(), $("#newHostOS").val(), $("#newHostNotes").val(), '{{project.id}}');
    }

    /**
     * Host updation success callback.
     */
    function HostUpdationSuccess(data) {
        success($("#messages"), "Host was Updated!");
        //Update fields according to the result.
        $("#host" + data.id + "Header").text(data.hostname + " - " + data.ip);
        $("#host" + data.id + "IP").val(data.ip);
        $("#host" + data.id + "Hostname").val(data.hostname);
        $("#host" + data.id + "OS").val(data.os);
        $("#host" + data.id + "Notes").val(data.notes);
        $("#hostModal").modal('toggle');
    }

    /**
     * Update host function.
     */
    function updateHost() {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateHost(HostUpdationSuccess, commonFailure, $("#hostId").val(), $("#hostIP").val(), $("#hostHostname").val(), $("#hostOS").val(), $("#hostNotes").val(), '{{project.id}}');
    }

    function deleteHost(id) {
        cleanMessagesContainer($("#messages"));
        bootbox.confirm({
            message: "Are you sure to delete this host?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    cleanMessagesContainer($("#messages"));
                    ajaxDeleteHost(removeHost, commonFailure, id);
                }
            }
        });
    }

    function removeHost(data){
        $("#host_" + data.id).remove();
        success($("#messages"), "Host was removed!");
    }

    /**
     * Display host modal.
     */
    function displayHostModal(id) {
        $("#hostId").val(id);
        $("#hostIP").val($("#host" + id + "IP").val());
        $("#hostHostname").val($("#host" + id + "Hostname").val());
        $("#hostOS").val($("#host" + id + "OS").val());
        hostNotesSimpleMDE.value($("#host" + id + "Notes").val());
        $("#hostModal").modal('toggle');
        setTimeout(function () { hostNotesSimpleMDE.codemirror.refresh(); }, 200); //Ugly : https://github.com/sparksuite/simplemde-markdown-editor/issues/313
    }
</script>
{% endblock %}