{% extends "base.html" %}
{% block title %} Project | PTART{% endblock %}
{% load addstr %}

{% block page %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% include '_include/html/header.html' with item='Project' sub_icon='fa fa-cubes' sub_url='/projects/' sub_text='Projects' third_icon='fa fa-cube' third_url="/project/"|addstr:project.pk|addstr:"/summary" third_text=project.name active_icon='' active_text='Edit' %}
        {% include "_include/html/messages.html" %}

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" value="{{ project.name }}" />
                </div>
                <div class="form-group">
                    <label>Client</label>
                    <input class="form-control" id="client" value="{{ project.client }}" />
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <div class="row g-3">
                        <div class="col-auto">
                            <input class="datepicker form-control" type="text" id="startdate" />
                        </div>
                        <div class="col-auto">
                            To
                        </div>
                        <div class="col-auto">
                            <input class="datepicker form-control" type="text" id="enddate" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Scope</label>
                    <textarea class="form-control" rows="5" id="scope" style="resize:vertical" placeholder="One line per target ex: *.michelin.com">{{ project.scope }}</textarea>
                </div>
                <div class="form-group">
                    <label>Engagement Overview</label>
                    <textarea class="form-control" rows="5" id="engagement_overview" style="resize:vertical">{{ project.engagement_overview }}</textarea>
                </div>
                <div class="form-group">
                    <label>Executive Summary</label>
                    <textarea class="form-control" rows="5" id="executive_summary" style="resize:vertical">{{ project.executive_summary }}</textarea>
                </div>
                <div class="form-group">
                    <label>Conclusion</label>
                    <textarea class="form-control" rows="5" id="conclusion" style="resize:vertical">{{ project.conclusion }}</textarea>
                </div>

                <div class="form-group">
                    <label>CVSS v4.0&nbsp;&nbsp;</label>
                    <input id="cvss_type" {% if project.cvss_type == 4 %} checked{% endif %} type="checkbox" data-toggle="toggle" data-onstyle="outline-primary" data-offstyle="outline-secondary" data-on="Yes" data-off="No" data-size="sm">
                </div>

                <div class="form-group">
                    <label>CWEs</label>
                    <select class="js-states form-control" id="cwes">
                        {% for cwe in cwes %}
                            {% if cwe.deprecated %} 
                                <option value="{{ cwe.id }}">{{ cwe.version }} - DEPRECATED</option>
                            {% else %}
                                <option value="{{ cwe.id }}">{{ cwe.version }}</option>
                            {% endif %}>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Methodologies</label>
                    <select class="js-states form-control" id="methodologies" multiple="multiple">
                        {% for methodology in methodologies %}
                        <option value="{{ methodology.id }}">{{ methodology.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Tools</label>
                    <select class="js-states form-control" id="tools" multiple="multiple">
                        {% for tool in tools %}
                        <option value="{{ tool.id }}">{{ tool.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Pentesters</label>
                    <select class="js-states form-control" id="pentesters" multiple="multiple">
                        {% for usr in users %}
                            {% if usr.is_active == True %}
                                <option value="{{ usr.id }}">{{ usr.username }}</option>
                            {% else %}
                                <option value="{{ usr.id }}">{{ usr.username }} (inactive)</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Reviewers</label>
                    <select class="js-states form-control" id="reviewers" multiple="multiple">
                        {% for usr in users %}
                            {% if usr.is_active == True %}
                                <option value="{{ usr.id }}">{{ usr.username }}</option>
                            {% else %}
                                <option value="{{ usr.id }}">{{ usr.username }} (inactive)</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Viewers</label>
                    <select class="js-states form-control" id="viewers" multiple="multiple">
                        {% for usr in users %}
                            {% if usr.is_active == True %}
                                <option value="{{ usr.id }}">{{ usr.username }}</option>
                            {% else %}
                                <option value="{{ usr.id }}">{{ usr.username }} (inactive)</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="checkbox">
                    <label><input id="archived" type="checkbox" {% if True == project.archived %} checked{% endif %}> Archived</label>
                </div>
                <input id="id" type="hidden" value="{{ project.id }}" />
                {% if editable == True %}
                <button id="updateBtn" class="btn btn-outline-primary mb-3">Update</button>
                <button id="delBtn" class="btn btn-outline-danger mb-3">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
{% include '_include/js/deleteItem.html' with item='Project' ajax_function='ajaxDeleteProject' %}
<script>
    activeMarkdown("executive_summary");
    activeMarkdown("engagement_overview");
    activeMarkdown("conclusion");

    $('.datepicker').datepicker({});

    {% if project.start_date %}
        $('#startdate').datepicker('setDate', new Date('{{project.start_date|date:"Y-m-d"}}'));
    {% endif %}
    
    {% if project.end_date %}
        $('#enddate').datepicker('setDate', new Date('{{project.end_date|date:"Y-m-d"}}'));
    {% endif %}

    $('#cwes option[value={{project.cwes.id}}]').attr('selected', 'selected');

    var selectedMethodologies = [];
    {% for methodology in project.methodologies.all %}
        selectedMethodologies.push({{ methodology.id }});
    {% endfor %}

    $('#methodologies').select2().val(selectedMethodologies).trigger("change");
    
    var selectedTools = [];
    {% for tool in project.tools.all %}
        selectedTools.push({{ tool.id }});
    {% endfor %}

    $('#tools').select2().val(selectedTools).trigger("change");
    
    var selectedPentesters = [];
    {% for pentester in project.pentesters.all %}
    selectedPentesters.push({{ pentester.id }});
    {% endfor %}
    $('#pentesters').select2().val(selectedPentesters).trigger("change");

    var selectedReviewers = [];
    {% for reviewer in project.reviewers.all %}
    selectedReviewers.push({{ reviewer.id }});
    {% endfor %}
    $('#reviewers').select2().val(selectedReviewers).trigger("change");

    var selectedViewers = [];
    {% for viewer in project.viewers.all %}
    selectedViewers.push({{ viewer.id }});
    {% endfor %}
    $('#viewers').select2().val(selectedViewers).trigger("change");

    function manageDate(val){
        result = null;
        if(val){
            vals = val.split("/");
            result = vals[2] + "-" + vals[0] + "-" + vals[1];
        }
        return result;
    }

    /**
     * Project updation success callback.
     */
     function projectUpdationSuccess(data) {
        success($("#messages"), "Project was Updated!");
    }

    /**
     * Update item.
     */
    $('#updateBtn').on('click', function () {
        cleanMessagesContainer($("#messages"));
        ajaxUpdateProject(projectUpdationSuccess, commonFailure, $("#id").val(), $("#name").val(), manageDate($('#startdate').val()), manageDate($('#enddate').val()), $("#executive_summary").val(), $("#engagement_overview").val(), $("#conclusion").val(), $("#scope").val(), $("#client").val(), $('#cvss_type').prop('checked')? 4 : 3, $("#cwes").val(), $("#methodologies").select2("val"), $("#tools").select2("val"), $("#pentesters").select2("val"), $("#reviewers").select2("val"), $("#viewers").select2("val"), $("#archived").prop("checked"));
    });
</script>
{% endblock %}