<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <h4 class="inline">CVSS v3.1
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <div>Attack Vector:</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-danger" id="vectorNetwork">Network</label>
                        <label class="btn btn-warning" id="vectorAdjacent">Adjacent</label>
                        <label class="btn btn-primary" id="vectorLocal">Local</label>
                        <label class="btn btn-info" id="vectorPhysical">Physical</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Attack Complexity:</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-danger" id="complexityLow">Low</label>
                        <label class="btn btn-warning" id="complexityHigh">High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Privileges Required</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-danger" id="privilegesNone">None</label>
                        <label class="btn btn-warning" id="privilegesLow">Low</label>
                        <label class="btn btn-primary" id="privilegesHigh">High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>User Interaction</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-danger" id="userInteractionNone">None</label>
                        <label class="btn btn-warning" id="userInteractionRequired">Required</label>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <div>Scope</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-warning" id="scopeUnchanged">Unchanged</label>
                        <label class="btn btn-danger" id="scopeChanged">Changed</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Confidentiality</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-info" id="confidentialityNone">None</label>
                        <label class="btn btn-warning" id="confidentialityLow">Low</label>
                        <label class="btn btn-danger" id="confidentialityHigh">High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Integrity</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-info" id="integrityNone">None</label>
                        <label class="btn btn-warning" id="integrityLow">Low</label>
                        <label class="btn btn-danger" id="integrityHigh">High</label>
                    </div>
                </div>

                <div class="form-group">
                    <div>Availability</div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-info" id="availabilityNone">None</label>
                        <label class="btn btn-warning" id="availabilityLow">Low</label>
                        <label class="btn btn-danger" id="availabilityHigh">High</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-sm btn-secondary mb-4" onclick="clearCVSS()"><i class="fa fa-eraser" aria-hidden="true"></i> Clear !</button>
            </div>
        </div>
    </div>
</div>